target
.checkstyle
*checkstyle*
*.class
.classpath
.fbprefs
.pmd
.project
.settings
.LICENSE.txt
db-create.sql
db-drop.sql
bin
*.iml
.idea
*.orig
*.versionsBackup
*-SNAPSHOT*.min.js
.sass-cache/
.DS_Store
