body, h1 {
	padding: 0px;
	margin: 0px;
	font-family: Verdana;
}

h1 {
	font-size: 16px;
	padding: 10px;
	color: white;
	
}

h2 {
	font-size: 16px;
	color: #696;
}

h3 {
	font-size: 14px;
	color: #669;
	padding: 0px;
	margin: 0px;
}

.copyright {
	margin-left: 5px;
	font-size: 11px;
	min-width: 200px;
/* 	float: left; */
}


.header {
	background-color: #629914;
	color: white; 
	height: 39px;
}

.listingTable tr.even {
	background-color: #F0F0F0 ; 
}

#bookListContainer {
	width: 700px;
	padding-right: 10px;
	float: left;
}

.listingTable {
	width: 100%;
	border: solid 1px lightgrey;
}


.listingTable th {
	background-color: #4EB305;
	color: white;
	font-size: 12px;
}

.listingTable {
	border-collapse: collapse;
}

.listingTable tr, #bookListTable td {
	border-bottom: solid 1px lightgrey;
	border-right: solid 1px lightgrey;

	margin: 0px;
	font-size: 12px;
}

.listingTable tr {
	padding: 0px;
}

.listingTable td {
	padding: 2px;
}


.bookName {
	color: #669;
	font-weight: bold;
	padding-left: 5px;
}

.listingTable a  {
	color: #669;
}

/******************/
/** versions page */
/******************/


a.info {
	color: #696;
	text-decoration: none;
	font-weight: bold;
}

.versionInitialsColumn {
	width: 150px;
}

.versionNameColumn {
	
}

.versionCategoryColumn {
	width: 100px;
}
