<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="STEP"
         version="3.0">
	<display-name>STEP :: Scripture Tools for Every Person</display-name>
	
	<servlet id="jsp">
		<servlet-name>jsp</servlet-name>
		<servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
		<init-param>
			<param-name>use-precompiled</param-name>
			<param-value>true</param-value>
		</init-param>

		<init-param>
			<param-name>reload-interval</param-name>
			<param-value>-1</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>


	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	
	<listener>
		<listener-class>com.tyndalehouse.step.guice.StepServletConfig</listener-class>
	</listener>

	<listener>
		<listener-class>com.yammer.metrics.reporting.MetricsServletContextListener</listener-class>
	</listener>


	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>
</web-app>
