<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="STEP"
         metadata-complete="true"
         version="3.0">
	<display-name>STEP :: Scripture Tools for Every Person</display-name>
	
	<servlet id="jsp">
		<servlet-name>jsp</servlet-name>
		<servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
		<init-param>
			<param-name>use-precompiled</param-name>
			<param-value>true</param-value>
		</init-param>

		<init-param>
			<param-name>reload-interval</param-name>
			<param-value>-1</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<!-- The following are used for the stand-alone version of STEP -->
	<!-- The stand-alone version of STEP should only support the users' -->
	<!-- own computer.  Therefore, it should only allow the localhost address -->
	<!-- The following lines will be uncommented by the maven process when -->
	<!-- the "-Pstandalone-install" parameter is used in the mvn command. -->
	<!--localhost.acl<filter> LOCALHOST.ACL-->
	<!--localhost.acl	<filter-name>Remote Address Filter</filter-name> LOCALHOST.ACL-->
	<!--localhost.acl	<filter-class>org.apache.catalina.filters.RemoteAddrFilter</filter-class> LOCALHOST.ACL-->
	<!--localhost.acl	<init-param> LOCALHOST.ACL-->
	<!--localhost.acl		<param-name>allow</param-name> LOCALHOST.ACL-->
	<!--localhost.acl		<param-value>127\.\d+\.\d+\.\d+|::1|0:0:0:0:0:0:0:1</param-value> LOCALHOST.ACL-->
	<!--localhost.acl	</init-param> LOCALHOST.ACL-->
	<!--localhost.acl</filter> LOCALHOST.ACL-->
    <!--localhost.acl<filter-mapping> LOCALHOST.ACL-->
    <!--localhost.acl	<filter-name>Remote Address Filter</filter-name> LOCALHOST.ACL-->
    <!--localhost.acl	<url-pattern>*</url-pattern> LOCALHOST.ACL-->
    <!--localhost.acl</filter-mapping> LOCALHOST.ACL-->

	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	
	<listener>
		<listener-class>com.tyndalehouse.step.guice.StepServletConfig</listener-class>
	</listener>

	<!--<listener>-->
		<!--<listener-class>com.yammer.metrics.reporting.MetricsServletContextListener</listener-class>-->
	<!--</listener>-->


	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>
    <absolute-ordering />
</web-app>
