@import 'template_variables';
@import 'mixins';

#advancedSearch {
  button.closeModal, button.closeAndAdd {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 100%;
    label {
      margin-bottom: 0px;
      margin-right: 0;
    }
  }

  form {
    padding: 5px;

    label {
      margin-right: 5px;
    }
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6 {
      margin-top: 5px;
    }

    input, select {
      padding: 2px;
      width: 100% !important;
      &.join {
        max-width: 100px;
        float: right;
      }
    }

    #infoAboutQuerySyntax {
      padding: 3;
      font-size: 14px;
      text-decoration: none;
      .infoAboutQuerySyntaxText {
        font-size: 12px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .footerContainer {
    text-align: right;
  }
  @include verticalHeight(".tab-pane", 200px);
  .modal-dialog {
    width: 90%;
  }
  .nav-tabs {
    border-bottom: none;
    &> li  { 
      &> a {
        background-color: rgb(230, 230, 230);
        &:hover {
          background-color: f4f4f4;
        }
      }
      &.active {
        &> a {
          background-color: #fff;
        }
      }
    }
  }

  .modal-content {
    background-color: transparent;
    background-color: var(--clrBackground);
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    .modal-body {
    }
    .tab-content {
      border-radius: 0 6 6 6;
      background-color: white;
      padding: 0px;
      border: 1px solid #999;
      border: 1px solid rgba(0, 0, 0, .2);
      outline: none;
      -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
      box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    }
  }
}

.modalVerseComplete {
  z-index: 99999999;
}


#exactForm {
  position: relative;
  .dropdown-menu {
    margin-top: -3px;
    left: initial;
    .col-xs-4 {
      overflow-x: hidden;
    }
  }
  @include verticalHeight(".formsDropdown", $searchDropdownHeight);
  .formsDropdown {
    overflow-y: auto;
    overflow-x: hidden;
  } 
}


#subjectByRef {
  .dropdown-menu {
    margin-top: -3px;
  }
  @include verticalHeight(".kolumnyRefs", $searchDropdownHeight);
  .kolumnyRefs {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
  }
}

#querySyntax {
  textarea {
    width: 100%;
    min-height: 100px;
    margin-bottom: 5px;
  }
}

#advancedTextSearch {
  button.addRow {
    margin: 0 0 15 25;
    padding: 2 3 4 4;
  }

  label[for='addRow'] {
    margin: 3 0 2 10px;
    vertical-align: top;
  }

  textarea {
    cursor: auto;
    float: left;
    margin-left: 10px;
    width: 50%;
  }
}