@import 'template_variables';

.argSummary {
  margin-left: 5;
  display: block;
  padding: 1;
  
  span.argSelect {
    display: inline-block;
    cursor: default !important;
    white-space: nowrap;
    font-family:tahoma;
    font-size: $defaultFontSize;
    line-height: $defaultFontSize;
    padding: 4px 6px 4px 6px;
    margin: 0 0 0 5;
    cursor: default;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
