@import 'template_variables';
@import 'mixins';

.argSummary {
  margin-left: 5;
  display: block;
  padding: 1;

  span.argSelect {
    display: inline-block;
    cursor: default !important;
    white-space: nowrap;
    font-size: 12px;
    line-height: $defaultFontSize;
    padding: 5px 3px 5px 3px;
    margin: 0 0 0 3px;
    cursor: default;
    border-radius: 1px;
    color: white;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.passageOptionsGroup,
#history {
  .argSummary {
    span.argSelect {
      @include muted-args(transparent);

      font-size: 15px;
      line-height: 18px;
      padding: 0 8px;
      margin: 6px 0;
      border-left: 1px solid $text-color;
      letter-spacing: .5px;

      &:first-child {
        padding-left: 0;
        border-left: none;
      }
    }
  }
}