@import 'template_variables';
@import 'mixins';

#bibleVersions {

  .modal-body {
    padding: 5px;
  }
  .modal-footer{
    padding: 10px 20px 10px 0px;
    .tagLine {
      float: left;
      padding-top: 10px;
      color: darkgrey;
      font-style: italic;
    }
  }
  span.form-group {
    margin-left: 3px;
  }

  .list-group-item {
    padding: 2px;
  }
  .list-group {
    margin-bottom: 5px;
  }
  .tab-pane {
    overflow-y: scroll;
    padding: 2px;
  }
  h1 {
    font-size: 10pt;
    margin: 0px 0px 4px;
  }
  .closeModal label {
    margin-bottom: 0px;
  }
  li.list-group-item {
    cursor: pointer;
    a {
      &.glyphicon-info-sign {
        margin-right: 15px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &.active {
      color: white;
      a {
        color: white;
      }
    }
  }
  @include verticalHeight(".tab-pane", 200px);
}