@import 'template_variables';

.qtip-titlebar {
  background-color: black !important;
  color: white !important;
  cursor: move !important;

  button, .glyphicon {
    cursor: hand;
  }

  .openRefInColumn {
    float: right;
    margin-right: 5px;

  }
  .close {
    color: white;
    opacity: 1;
  }
}

.xrefPopup.qtip-default.qtip {
  border: 1px solid #666;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  background-color: white;
  .qtip-content {
    padding: 5px;
    color: rgb(51, 51, 51);
  }

  .paragraph {
    display: none;
  }
}