@import 'template_variables';

a,
a:hover,
a:active {
  color: $link-color;
}

h1, h2, h3, h4, h5, h6, .panel-title {
  color: $headingColour;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

body {
  overflow: hidden;

}

body, .dropdown-menu, #quickLexicon h1 {
  font-size: $defaultFontSize;
}

.dropdown-menu > li > a {
  padding-left: 12px;
  padding-right: 12px;

  &:hover,
  &:focus {
    background: $secondaryHoverColour;
  }
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background: $brand-primary;
}

ul .glyphicon-ok {
  margin-right: 8px;
  color: $headingColour;
  visibility: hidden;
  &.active {
    visibility: visible;
  }
}

.panel-heading {
  padding: 2px 5px;
  h4 {
    cursor: pointer;
    margin: 0px;
    font-size: 12px;
  }
}

.panel-group .panel + .panel {
  margin-top: 3px;
}

.transliteration {
  font-style: italic !important;
}

.btn {
/*  transition: background-color 200ms;  comment out because it is not compatible with dark mode */
}

.btn > label {
  margin: 0;
}

.btn-default {
  background-image: none;
  background-color: #f3f3f3;
}

.btn-danger {
  background-image: -webkit-linear-gradient(bottom, $brand-secondary 0, lighten($brand-secondary, 10%) 100%);
  background-image: linear-gradient(to top, $brand-secondary 0, lighten($brand-secondary, 10%) 100%) !important; /* Just changed the two colors */
  border: solid thin $brand-secondary;
  &:hover {
    background-position: 0 15px !important;
  }
  &:focus {
    background-position: inherit;
    background-image: -webkit-linear-gradient(bottom, $brand-secondary 0, lighten($brand-secondary, 10%) 100%);
    background-image: linear-gradient(to top, $brand-secondary 0, lighten($brand-secondary, 10%) 100%) !important; /* Just changed the two colors */
  }
}

.text-info {
  color: $brand-primary;
}

.input-sm {
  height: 32px;
}

.stepButton {
	white-space:normal!important;
	padding:6px 7px 5px 7px;
	color: $strong-color; // This line is for IE browsers
	color:var(--clrStrongText);
	font-size:14px;
	line-height:13px;
	border-radius:4px;
	background:#FFFFFF!important;
   	background:var(--clrBackground)!important;
	border:1px solid $highlight-color!important;
	border:1px solid var(--clrHighlight)!important;
	font-style: normal;
	margin-left: 5px;
    text-shadow:none;
}

.stepButtonTriangle {
	white-space:normal!important;
	padding:6px 7px 5px 7px;
	color: $strong-color; // This line is for IE browsers
	color:var(--clrStrongText);
	font-size:14px;
	line-height:13px;
	border-radius:4px;
	background:#FFFFFF!important;
    background:var(--clrBackground)!important;
	border:1px solid $highlight-color!important;
	border:1px solid var(--clrHighlight)!important;
	font-style: normal;
	margin-left: 5px;

    &:after {
      content: "\25BE"; // upside down triangle
      display: inline-block;
      margin-left: 3px;
    }
}

.stepPressedButton {
	background-color: $highlight-color !important;
	background-color: var(--clrHighlightBg) !important;
	color: white !important;
	border: 1px solid black;
}

.stepFgBg .stepModalFgBg {
	background-color: #ffffff;
	background-color: var(--clrBackground);
	color: #5d5d5d;
    color: var(--clrTextColor);
}

.stepModalFgBg {
	background-color: #ffffff;
	background-color: var(--clrBackground);
	color: #5d5d5d;
    color: var(--clrTextColor);
	border: 1px solid grey;
}