@import 'template_variables';

a,
a:hover,
a:active {
  color: $linkColour;
}


h1,h2,h3,h4,h5,h6,.panel-title {
  color: $headingColour;
  font-weight: bold;
  margin:20px 0 10px 0;
}

body {
  overflow-x: hidden;
}

body, .dropdown-menu, .searchResultRow, #quickLexicon h1 {
  font-size: $defaultFontSize;
}

ul .glyphicon-ok {
  margin-right: 10px;
  color: $headingColour;
  visibility: hidden;
  &.active {
    visibility: visible;
  }
}

.panel-heading {
  padding: 2px 5px;
  h4 {
    cursor: hand;
    margin: 0px;
    font-size: 12px;
  }
}

.panel-group .panel + .panel {
  margin-top: 3px;
}

.transliteration {
    font-style: italic !important;
}

.btn-danger {
  background-image: -webkit-linear-gradient(bottom,$brand-secondary 0,lighten($brand-secondary, 10%) 100%);
  background-image: linear-gradient(to top,$brand-secondary 0,lighten($brand-secondary, 10%) 100%) !important; /* Just changed the two colors */
  border: solid thin $brand-secondary;
  &:hover {
    background-position: 0 15px !important;
  }
  &:focus {
    background-position: inherit;
    background-image: -webkit-linear-gradient(bottom,$brand-secondary 0,lighten($brand-secondary, 10%) 100%);
    background-image: linear-gradient(to top,$brand-secondary 0,lighten($brand-secondary, 10%) 100%) !important; /* Just changed the two colors */
  }

}

.text-info {
  color: #26539e;
}