@import 'template_variables';

a {
  color: $linkColour;
}


h1,h2,h3,h4,h5,h6,.panel-title {
  color: $headingColour;
  font-weight: bold;
  margin:20px 0 10px 0;
}

body {
  overflow-x: hidden;
}

body, .dropdown-menu, .searchResultRow, #quickLexicon h1 {
  font-size: $defaultFontSize;
}

ul .glyphicon-ok {
  margin-right: 10px;
  color: $headingColour;
  visibility: hidden;
  &.active {
    visibility: visible;
  }
}

.panel-heading {
  padding: 2px 5px;
  h4 {
    cursor: hand;
    margin: 0px;
    font-size: 12px;
  }
}

.panel-group .panel + .panel {
  margin-top: 3px;
}

.transliteration {
    font-style: italic;
}

.btn-danger {
  background-image: linear-gradient(to bottom,#D14A4A 0,#9E2B2B 100%); /* Just changed the two colors */
}

.text-info {
  color: #26539e;
}