@import 'template_variables';

.unicodeFont {
  font-family: Cardo;
  font-size: 100%;
}

.unicodeFontMini {
  font-family: Cardo;
  font-size: 100%;
}

.copticFont {
  font-family: Conv_newathu405;
  font-size: 130%;
}

.syriacFont {
  font-family: SyrCOMEdessa;
  font-size: 170%;
}

.burmeseFont {
  font-family: Padauk;
  font-size: 150%;
}

.arabicFont {
  font-family: DroidKufi;
  line-height: 1.8 !important;
  font-size: 120%;
}

.chineseFont {
  font-size: 120%;
  line-height: 1.4;
}

.khmerFont {
  font-family: Hanuman;
  font-size: 150%;
}

.farsiFont {
  font-family: Nazli;
  font-size: 160%;
}

.hbFont {
  // override in case of ancient vocab
  font-family: SIL_EZRA !important;
  font-size: 160%;
}

.hbFontSmall {
  @extend .hbFont;
  font-weight: normal;
}

.hbFontMini {
  @extend .hbFontSmall;
  font-size: 130%;
}

td {
  &.copticFont, &.syriacFont, &.burmeseFont, &.arabicFont, &.chineseFont, &.khmerFont {
    font-size: 100%;
  }
}
