@import 'template_variables';
@import 'mixins';

@media screen {
  .navbar {
    height: $header_height;
    margin-bottom: 0px;
    min-height: initial;
    
    .navbar-header {
      font-size: x-small;
      background: $headerBackgroundColor;
      width: 100%;
    }

    #logo {
      top: 0;
      left: 0;
      position: absolute;
    }

    a, .subtitle, .subtitle:hover {
      color: $header_title;
    }

    &.form-group, form {
      margin-bottom: 0px;
      button {
        min-width: 80px;
        text-shadow: none;
      }
    }
  }

  .navbar-brand {

    @media screen and (min-width: $stepXSBootstrap) {
      padding-left: 50px;
    }
    padding-bottom: 0px;
    padding-top: 5px;
    height: $header_height;

    //find button to be aligned to top
    span.findButton {
      vertical-align: top;
    }
    .title {
      margin-right: 10px;
      float: left;
      & > a {
        color: white !important;
        font-weight: bold;
        text-decoration: none;
      }
    }

    .subtitle {
      margin-top: 5px;
      white-space: nowrap;
      font-size: x-small;
      line-height: 1;
    }

    .showStats {
      width: 24px;
      span {
        margin-bottom: 2px;
      }
    }
    .glyphicon.glyphicon-save{
      @include rotate(90deg);
    }
  }

  // Search form
  .search-form {
    font-size: x-small;
    a {
      color: $topHeaderLinkColour;
    }

    button.find.btn {
      font-size: 16px;
      line-height: 18px;
      font-weight: bold;
      text-shadow: -1px -1px 0 rgba(0,0,0,.2);
    }
  }
  .searchLinks {
    float: right;
    margin-top: 4px;
    color: $topHeaderLinkColour;
    a, label {
      vertical-align: top;
      margin-left: 20px;
    }
    input {
      margin: 2px 0 0 0;
    }
  }

  // Help menu
  .help {
    padding-top: 3px;
    font-size: 12px;
    margin-left: 10px;
    float: right;
    color: $topHeaderLinkColour;
    ul {
      float: right;
    }
    @media screen and (max-width: 524px) {
      display: none;
    }
    button {
      padding: 3 5 3 6;
      margin-left: 10px;
      margin-right: 20px;
      font-size: 11px;
      font-family: Arial;
    }
  }

  // offset the main panel
  .mainPanel, #sidebar {
    padding: $header_height 0 10px 0px;
  }
}