@import 'template_variables';
@import 'mixins';

@media screen {
  .navbar {
    height: $header_height;
    min-height: $header_height;
    margin-bottom: 0px;
    min-height: initial;
    background-image: none;

    .navbar-header {
      font-size: x-small;
      background: $headerBackgroundColor;
      width: 100%;
    }

    #logo {
      top: 0;
      left: 0;
      position: absolute;
    }

    a, .subtitle, .subtitle:hover {
      color: $header_title;
    }
    [role="form"] {
      margin-top: 5;
    }
    &.form-group, form {
      input {
        margin-top: -2px;
        height: 34px;
      }
      margin-bottom: 0px;
      button {
        min-width: 80px;
        text-shadow: none;
      }
    }
  }

  .navbar-brand {

    @media screen and (min-width: $stepXSBootstrap) {
      padding-left: 50px;
    }
    padding-bottom: 0px;
    padding-top: 5px;
    height: $header_height;

    //find button to be aligned to top
    #masterSearch {
      border: 0 !important;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
    span.findButton {
      vertical-align: top;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
    .title {
      line-height: 25px;
      margin-right: 20px;
      float: left;
      & > a {
        color: white !important;
        font-weight: bold;
        text-decoration: none;
      }
    }

    .subtitle {
      margin-top: 5px;
      white-space: nowrap;
      font-size: 11px;
      line-height: 1;
    }

    .showStats {
      width: 24px;
      span {
        margin-bottom: 2px;
      }
    }
    .glyphicon.glyphicon-save {
      @include rotate(90deg);
      transition: 0.3s;
      &.active {
        @include rotate(270deg);
        transition: 0.3s;
      }
    }
  }

  // Search form
  .search-form {
    font-size: x-small;
    a {
      color: $topHeaderLinkColour;
    }

    button.find.btn {
      border-top: none;
      padding: 7 10 8 10;
      margin-top: -2;
      font-size: 16px;
      line-height: 18px;
      font-weight: bold;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, .2);
      box-shadow: none;
      -webkit-box-shadow: none;
      height: 34px;
      &:hover {
        z-index: initial !important;
      }
    }
  }
  .searchLinks {
    float: right;
    margin-top: 4px;
    color: $topHeaderLinkColour;
    a, label {
      vertical-align: top;
      margin-left: 20px;
    }
    input {
      margin: 2px 0 0 0;
    }
  }

  // Help menu
  .help {
    margin-top: 5;
    padding-top: 3px;
    font-size: 12px;
    margin-left: 10px;
    float: right;
    color: $topHeaderLinkColour;

    @media (min-width: $stepXSBootstrap) {
      .navbar-collapse {
        display: inline !important;
        &:after, &:before {
          display: inherit;
        }
      }
      .caret {
        margin-left: 5;
      }
      .caret.mini-level {
        display: none;
      }
    }

    @media (max-width: $stepXS) {
      .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 3px;
      }

      .navbar-toggle .icon-bar {
        height: 3px;

      }

      .pull-right {
        position: relative;
      }

      .collapsing {
        -webkit-transition: 0.01s !important;
        transition: 0.01s !important;
        display: none;
      }

      .navbar-collapse {
        white-space: nowrap;
        border: 1px solid #666;
        border-radius: 5px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        background-color: white;
        position: absolute;
        color: black;
        top: 28px;
        right: 0px;
        text-align: left;
        //      width: 300px;
        min-width: 270px;
        overflow-y: initial;
        max-height: none;

        -webkit-transition: 0.01s;
        transition: 0.01s;

        a.dropdown-toggle {
          display: block;
          width: 100%;
        }
        .helpMenu {
          width: 234px;
        }
        .caret.top-level {
          display: none;
        }
        .caret.mini-level {
          margin-top: 8px;
          float: right;
        }
        a {
          color: black;
        }
        ul {
          max-height: 300px;
        }
        li a {
          padding-left: 20px;
        }
        .separator {
          display: none;
        }

        .dropdown-menu {
          background-clip: padding-box;
          border: none;
          border-radius: none;
          -webkit-border-radius: none;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
      .dropdown {
        padding: 5px;
        display: block;
      }
    }

    ul {
      float: right;
    }

    button {
      padding: 3 5 3 6;
      margin-left: 10px;
      margin-right: 20px;
      font-size: 11px;
      font-family: Arial;
      &.navbar-toggle {
        margin: 0px;
      }
    }
  }

  // offset the main panel
  .mainPanel, #sidebar {
    padding: $header_height 0 10px 0px;
  }
}