@import 'template_variables';

.examplesContainer {
  overflow-y: auto;
  overflow-x: hidden;
  padding: $page-padding;

  .interlinearLinks {
    margin-top: 5px;
    display: inline-block;
  }

  .explanationText {
    margin-left: 5px;
    margin-top: 5px;
  }

  .closeColumn {
    position: absolute;
    right: 10;
  }
  
  .argSummary {
    padding: 3 0 0 3;
    border-right: none;
    &:hover {
      background-color: rgb(214, 214, 214);
    }
    .argSelect {
      cursor: hand !important;
    }

  }
  
  h1 {
    font-size: 13px;
    text-align: center;
    margin: 0px;
  }
  h2 {
    font-size: 12px;
    text-align: center;
    margin: 0px;
  }
  h4 {
    margin-top: 15px;
    font-size: 12px;
    display: inline;
  }
  .step-copyright {
    font-size: smaller;
    text-align: center;
    bottom: 2px;
    position: absolute;
    background-color: white;
    width: 97%;
    z-index: 10;

    span {
      text-align: center;
    }
  }
  .input-group {
    display: inline-table;
    vertical-align: middle;

    .input-group-btn {
      width: 25px;
      border-top: dashed 1 lightgrey;
      border-bottom: dashed 1 lightgrey;
    }
    
  }
  .find {
    margin-left: 5px;
  }
  
}
.examples {
  display: block;
}
.find {
  text-shadow: none;
}