.examplesContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  
  h1 {
    font-size: 13px;
    text-align: center;
    margin: 0px;
  }
  h2 {
    font-size: 12px;
    text-align: center;
    margin: 0px;
  }
  h4 {
    margin-top: 15px;
    font-size: 12px;
    display: inline;
  }
  .step-copyright {
    font-size: smaller;
    text-align: center;
  }
}
.examples {
  display: block;
}
.find {
  text-shadow: none;
}