.examplesContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  
  .argSummary {
    padding: 3 0 0 5;
  }
  
  h1 {
    font-size: 13px;
    text-align: center;
    margin: 0px;
  }
  h2 {
    font-size: 12px;
    text-align: center;
    margin: 0px;
  }
  h4 {
    margin-top: 15px;
    font-size: 12px;
    display: inline;
  }
  .step-copyright {
    font-size: smaller;
    text-align: center;
    bottom: 10px;
    position: absolute;
    left: 40%;
    text-align: center;
  }
  .input-group {
    width: 100%;
  }
  .find {
    margin-left: 5px;
  }
  
}
.examples {
  display: block;
}
.find {
  text-shadow: none;
}