#aboutLogo {
  float: left;
  margin-right: 20px;
}

.aboutModal {
  .modal-header {
    padding: 5 5;
  }
  .modal-body {
    clear: left;
    margin-top: 15px;
  }
  .footer {
    text-align: right;
    button {
      padding: 5px;
      label {
        margin-bottom: 0px;
      }
    }
  }
}