@import 'template_variables';

.examplesContainer {
  overflow-y: auto;
  overflow-x: hidden;
  padding: $page-padding;

  .interlinearLinks {
    margin-top: 5px;
    display: inline-block;
  }

  .explanationText {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .closeColumn {
    position: absolute;
    top: 4px;
    right: 10px;
    color: $text-color;
    cursor: pointer;
    font-size: 14px;
    line-height: 33px;
    padding: 5px 0 5px 15px;
  }

  .input-group .form-control {
    border: 1px solid #C8C8C8;
    border-radius: 3px;
    background-image: none;
    box-shadow: none;
    padding: 0 5px 0 0;
  }

  .argSummary {
    padding: 3px 0 0 3px;
    margin-left: 0;
    border-right: none;

    &:hover {
      background-color: $secondaryHoverColour;
    }

    .argSelect {
      cursor: pointer !important;
      padding: 6px 7px 5px 7px;
      margin: 3px 0 3px 5px;
      border-radius: 4px;
      border: none;
      color: white;
      font-size: 14px;
      box-shadow: none;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    }

  }

  h3 {
    margin-bottom: 5px;
  }

  h3,
  h4 {
    text-align: center;
  }

  .step-copyright {
    text-align: center;
    margin-top: 45px;
  }

  .find {
    margin-left: 5px;
  }
}

#sidebar .examplesContainer {
  padding: 0;
}

.examples {
  display: block;
}

.find {
  text-shadow: none;
}