@import 'template_variables';

//highlights in text
.emphasisePassagePhrase {
  background-color: #F3E5B4;
}

.relatedWordEmphasis {
  text-decoration: underline;
}

.relatedWordEmphasisHover {
  text-decoration: underline;
}

.primaryLightBg {
  background-color: $hoverColor !important;
}

.secondaryBackground {
  background-color: #ddd;
}

// hebrew highlights
.segC0 {
  color: #33339F;
}

.segC1 {
  color: black;
}