@import 'template_variables';

[strong] {
  color: #796060;

  &:hover {
    cursor: pointer;
    color: $quickLexiconFontColour;
  }
}

//highlights in text
.emphasisePassagePhrase {
  background-color: #F3E5B4;
}

.relatedWordEmphasis {
  text-decoration: underline;
}

.relatedWordEmphasisHover {
  text-decoration: underline;
  background-color: rgba($quickLexiconColour, 0.2);
  color: $quickLexiconRelatedFontColour;
}

.lexiconFocus {
  background-color: $lexiconFocusColour;
}

.lexiconRelatedFocus {
  background-color: $lexiconFocusRelatedColour;
  text-decoration: underline;
}

.primaryLightBg {
  background-color: $quickLexiconColour;
  color: $quickLexiconFontColour;
  text-shadow: none !important;

  .segC0, .segC1 {
    color: $quickLexiconFontColour;
  }
}

.secondaryBackground {
  background-color: $secondaryHoverColour;
}

// hebrew highlights
.segC0 {
  color: #33339F;
}

.segC1 {
  color: black;
}