@import 'template_variables';

@mixin canonicalHeading {
  font-style: italic;
  font-weight: normal;
  color: rgb(51, 51, 51);
  font-size: $defaultFontSize;
}

@mixin divider-left {
  border-left: 1px solid $dividerColor;
  padding:0 15px 0;
  height: 100%;
}

@mixin padding-from-header {
  padding: $paddingFromHeader;
}

@mixin scrollableContainerHeight {
  @media screen and (min-height: 000px) {
    height: 100%;
  }
  @media screen and (min-height: 300px) {
    height: 94%;
  }
  @media screen and (min-height: 400px) {
    height: 95%;
  }
  @media screen and (min-height: 500px) {
    height: 96%;
  }
  @media screen and (min-height: 600px) {
    height: 97%;
  }
  @media screen and (min-height: 700px) {
    height: 98%;
  }


}

// Vertical height creates a class called .className where maxHeight is set to 400, 600, 900 depending on screen size
// gap identifies how much space is lost on the screen already
@mixin verticalHeight($className, $gap: 100px) {
  @media screen and (min-height: 400px) {
  #{$className} {
      max-height: 400px - $gap;
    }
  }

  @media screen and (min-height: 600px) {
    #{$className} {
      max-height: 600px - $gap;
    }
  }

  @media screen and (min-height: 900px) {
    #{$className} {
      max-height: 900px - $gap;
    }
  }
}

@mixin gradient($color, $start, $end) {
//  background-color: inherit !important;
  background: lighten($color, $optionStartGradient) !important; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=lighten($color, $optionStartGradient), endColorstr=lighten($color, $optionEndGradient)) !important; /* for IE */
  background-image: -webkit-linear-gradient(left, lighten($color, $optionStartGradient), lighten($color, $optionEndGradient)) !important;
  background: -moz-linear-gradient(left,  lighten($color, $optionStartGradient),  lighten($color, $optionEndGradient)) !important; /* for firefox 3.6+ */
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
}

@mixin flipAndRotate($degrees) {
  -moz-transform: scaleX(-1) rotate($degrees);
  -o-transform: scaleX(-1) rotate($degrees);
  -webkit-transform: scaleX(-1) rotate($degrees);
  transform: scaleX(-1) rotate($degrees);
}