@import 'template_variables';

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin canonicalHeading {
  font-style: italic;
  font-weight: normal;
  color: rgb(51, 51, 51);
  font-size: $defaultFontSize;
}

@mixin divider-left {
  border-left: 1px solid $dividerColor;
  padding:0 15px 0;
  height: 100%;
}

@mixin padding-from-header {
  padding: $paddingFromHeader;
}

@mixin scrollableContainerHeight {
  @media screen and (min-height: 000px) {
    height: 100%;
  }
  @media screen and (min-height: 300px) {
    height: 94%;
  }
  @media screen and (min-height: 400px) {
    height: 95%;
  }
  @media screen and (min-height: 500px) {
    height: 96%;
  }
  @media screen and (min-height: 600px) {
    height: 97%;
  }
  @media screen and (min-height: 700px) {
    height: 98%;
  }
}

// Vertical height creates a class called .className where maxHeight is set to 400, 600, 900 depending on screen size
// gap identifies how much space is lost on the screen already
@mixin verticalHeight($className, $gap: 100px) {
  @media screen and (min-height: 400px) {
  #{$className} {
      height: 400px - $gap;
    }
  }

  @media screen and (min-height: 600px) {
    #{$className} {
      height: 600px - $gap;
    }
  }

  @media screen and (min-height: 900px) {
    #{$className} {
      height: 900px - $gap;
    }
  }
}

@mixin gradient($color, $start, $end, $border) {
  background: lighten($color, $end) !important; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=lighten($color, $start), endColorstr=lighten($color, $end)) !important; /* for IE */

  background-image: -webkit-linear-gradient(bottom, lighten($color, $start), lighten($color, $end)) !important;
  background: -moz-linear-gradient(bottom,  lighten($color, $start),  lighten($color, $end)) !important; /* for firefox 3.6+ */
  background: -ms-linear-gradient(bottom,  lighten($color, $start),  lighten($color, $end)) !important; /* for firefox 3.6+ */
  border-right: solid thin $border !important; border-right-color: #ccc!important;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
}

@mixin flipAndRotate($degrees) {
  -moz-transform: scaleX(-1) rotate($degrees);
  -o-transform: scaleX(-1) rotate($degrees);
  -webkit-transform: scaleX(-1) rotate($degrees);
  transform: scaleX(-1) rotate($degrees);
}

@mixin bold-args($start, $end) {
  &.select-meanings {
    cursor: pointer !important;
    background: $meaningsRow !important;
  }

  &.select-version {
    cursor: pointer !important;
    background: $bibleRow !important;
  }

  &.select-reference, &.select-relatedrefs {
    cursor: pointer !important;
    background: $referenceRow !important;
  }

  &.select-subject, &.select-topicref {
    cursor: pointer !important;
    background: $subjectRow !important;
  }

  &.select-text, &.select-syntax {
    cursor: pointer !important;
    background: $textRow !important;
  }

  &.select-greek, &.select-exactForm-greek {
    cursor: pointer !important;
    background: $greekRow !important;
  }

  &.select-greekMeanings {
    cursor: pointer !important;
    background: $greekMeaningsRow !important;
  }

  &.select-hebrew, &.select-exactForm-hebrew {
    cursor: pointer !important;
    background: $hebrewRow !important;
  }

  &.select-hebrewMeanings {
    cursor: pointer !important;
    background: $hebrewMeaningsRow !important;
  }

  &.select-other {
    background: #868686;

    .glyphicon {
      font-size: 10px;
      top: -1px;
    }
  }
}

@mixin muted-args($bg-color: #fff) {
  background-image: none !important;

  &.select-version,
  &.select-reference,
  &.select-relatedrefs,
  &.select-hebrewMeanings,
  &.select-hebrew,
  &.select-exactForm-hebrew,
  &.select-greekMeanings,
  &.select-greek,
  &.select-exactForm-greek,
  &.select-subject,
  &.select-topicref,
  &.select-text,
  &.select-syntax,
  &.select-meanings {
    background-color: $bg-color !important;
    color: #333 !important;
    font-weight: bold;
  }
}
