@import 'template_variables';

@mixin canonicalHeading {
  font-style: italic;
  font-weight: normal;
  color: rgb(51, 51, 51);
  font-size: $defaultFontSize;
}

@mixin divider-left {
  border-left: 1px solid $dividerColor;
  padding:0 15px 0;
  height: 100%;
}

@mixin padding-from-header {
  padding: $paddingFromHeader;
}

@mixin scrollableContainerHeight {
  @media screen and (min-height: 000px) {
    height: 100%;
  }
  @media screen and (min-height: 300px) {
    height: 94%;
  }
  @media screen and (min-height: 400px) {
    height: 95%;
  }
  @media screen and (min-height: 500px) {
    height: 96%;
  }
  @media screen and (min-height: 600px) {
    height: 97%;
  }
  @media screen and (min-height: 700px) {
    height: 98%;
  }


}

// Vertical height creates a class called .className where maxHeight is set to 400, 600, 900 depending on screen size
// gap identifies how much space is lost on the screen already
@mixin verticalHeight($className, $gap: 100px) {
  @media screen and (min-height: 400px) {
  #{$className} {
      max-height: 400px - $gap;
    }
  }

  @media screen and (min-height: 600px) {
    #{$className} {
      max-height: 600px - $gap;
    }
  }

  @media screen and (min-height: 900px) {
    #{$className} {
      max-height: 900px - $gap;
    }
  }
}

@mixin gradient($color, $start, $end, $border) {
//  background-color: inherit !important;
  background: lighten($color, $end) !important; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=lighten($color, $optionStartGradient), endColorstr=lighten($color, $optionEndGradient), GradientType=1) !important; /* for IE */

  background-image: -webkit-linear-gradient(bottom, lighten($color, $optionStartGradient), lighten($color, $optionEndGradient)) !important;
  background: -moz-linear-gradient(bottom,  lighten($color, $optionStartGradient),  lighten($color, $optionEndGradient)) !important; /* for firefox 3.6+ */
  border-bottom: solid thin $border !important;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
}

@mixin flipAndRotate($degrees) {
  -moz-transform: scaleX(-1) rotate($degrees);
  -o-transform: scaleX(-1) rotate($degrees);
  -webkit-transform: scaleX(-1) rotate($degrees);
  transform: scaleX(-1) rotate($degrees);
}

@mixin muted-args {
  background-image: none !important;
  &.select-version {
    background-color: white !important;
    color: #8D5361 !important;
    border: solid thin #651428;
  }
  &.select-reference {
    background-color: #E8CFD6 !important;
    border: solid thin #370B16;
    color: #411822 !important;
  }
  &.select-hebrew {
    background-color: white !important;
    color: #122281 !important;
    border: solid thin #12227F;
  }
  &.select-hebrewMeanings {
    background-color: #C1CDE4 !important;
    color: #232B4D !important;
    border: solid thin #0A204B;
  }
  &.select-greek {
    background-color: white !important;
    color: #0E5242 !important;
    border: solid thin #146451;
  }
  &.select-greekMeanings {
    background-color: #BBDED6 !important;
    color: #0B3B2E !important;
    border: solid thin #0A352B;
  }
  &.select-subject {
    color: #371465 !important;
    background-color: white !important;
    border: solid thin #381369;
  }
  &.select-text {
    color: #210A38 !important;
    background-color: #D7CAE3 !important;
    border: solid thin #220B39;
  }
  &.select-meanings {
    background-color: white !important;
    color: #7C714B !important;
    border: solid thin #6F5A12;
  }
}