@import 'template_variables';
@import 'mixins';

.modal {
  // just above the multi-select
  z-index: 10002;
}

//all modals should be above the select modal
.modal-backdrop.in {
  z-index: 10001;
}

#restorePassages {
  form {
    max-height: 200px;
    overflow-y: scroll;
  }
}

@import 'bible_versions';
@import 'advanced_search';