.selectModal {
  z-index: 10000; }

#bibleVersions .modal-body {
  padding: 5px; }
#bibleVersions span.form-group {
  margin-left: 3px; }
#bibleVersions .list-group-item {
  padding: 2px; }
#bibleVersions .list-group {
  margin-bottom: 5px; }
#bibleVersions .tab-pane {
  overflow-y: scroll;
  padding: 2px; }
#bibleVersions h1 {
  font-size: 10pt;
  margin: 0px 0px 4px; }
#bibleVersions .closeModal label {
  margin-bottom: 0px; }
#bibleVersions li.list-group-item {
  cursor: hand; }
  #bibleVersions li.list-group-item a.glyphicon-info-sign {
    margin-right: 5px; }
    #bibleVersions li.list-group-item a.glyphicon-info-sign:hover {
      text-decoration: none; }
  #bibleVersions li.list-group-item.active {
    color: white; }
    #bibleVersions li.list-group-item.active a {
      color: white; }
@media screen and (min-height: 400px) {
  #bibleVersions .tab-pane {
    max-height: 200px; } }
@media screen and (min-height: 600px) {
  #bibleVersions .tab-pane {
    max-height: 400px; } }
@media screen and (min-height: 900px) {
  #bibleVersions .tab-pane {
    max-height: 700px; } }
