@import 'template_variables';
@import 'mixins';

.modal {
  // just above the multi-select
  z-index: 10002;
}

//all modals should be above the select modal
.modal-backdrop.in {
  z-index: 10001;
}

//qtip "modals"
.qtip-titlebar {
  //collapse title bar with container
  margin-top: -1px;
  
  //close button
  .close {
    line-height: 12px;
    margin: 1 5 -2 0;
    font-size: 18px;
  }
}

#restorePassages {
  form {
    max-height: 200px;
    overflow-y: scroll;
  }
}

@import 'bible_versions';
@import 'advanced_search';