@import "template_variables";

@mixin multi-column($numColumns) {
  -moz-column-count: $numColumns; // Firefox 
  -webkit-column-count: $numColumns; // Safari and Chrome
  column-count: $numColumns;

  @if ($numColumns > 1) {
    column-gap: 2px;
    -moz-column-gap: 2px;
    -webkit-column-gap: 2px;
  }
}

@mixin overflow() {
  overflow-y: auto;
  overflow-x: hidden;
}

@mixin max-height($height) {
  max-height: $height;
  @include overflow();
}

.kolumny {
  @media screen and (max-width: $stepMD) {
    @include max-height(500);
  }
  @media screen and (min-width: $stepMD + 1px) {
    max-width: 600px;
    @include multi-column(2);
    @include overflow();
  }
}

.miniKolumny {
  @media screen and (max-width: $stepLG) {
    width: 200px;
    @include max-height(500px);
  }
  @media screen and (min-width: $stepLG + 1px) {
    @include multi-column(2);
    @include overflow();
    max-width: 800px;
    min-width: 500px;
  }
}

//.kolumnyRefs {
//  @media screen and (min-width: 860px) {
//    max-width: 700px;
//    @include multi-column(4);
//    @include overflow();
//  }
//  @media screen and (min-width: 650px) and (max-width: 859px){
//    max-width: 600px;
//    @include multi-column(3);
//    @include overflow();
//  }
//  @media screen and (min-width: 430px) and (max-width: 649px){
//    max-width: 500px;
//    @include multi-column(2);
//    @include overflow();
//  }
//  @media screen and (max-width: 429) {
//    @include max-height(500);
//  }  
//}