@import 'template_variables';

.passageOptionsGroup {
  margin-left: 10px;
  float: right;
  button span {
    line-height: 1;
    &.smallerFont {
      font-size: 8px;
      line-height: $defaultFontSize;
    }
    &.largerFont {
      font-weight: bold;
    }
  }
  .dropdown-menu {
    padding-left: 5px;
  }

  ul {
    padding-left: 5px;
    margin-bottom: 0px;
  }

  .settingsDropdown {
    li {
      &:hover {
        background-color: $hoverColor;
      }
      &.searchContext:hover {
        background-color: inherit;
        .btn-group {
          margin-left: 10px;
        }
      }
    }
  }
  a {
    color: black;
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
  h1 {
    font-size: 14px;
    margin-top: 0px;
  }
  .nested-btn-group {
    float: left;
    margin-left: -1px;
  }
  .passageOptions, .displayModes {
    direction: ltr;
    text-align: left;
  }
}
