@import 'template_variables';

.passageOptionsGroup {
  float: right;
  .dropdown-menu {
    padding-left: 5px;
  }

  ul {
    padding-left: 5px;
    margin-bottom: 0px;
  }
  
  .settingsDropdown li:hover {
      background-color: $hoverColor;
  }
  a {
    color: black;
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
  h1 {
    font-size: 14px;
    margin-top: 0px;
  }
  .nested-btn-group {
    float: left;
    margin-left: -1px;
  }
  .passageOptions, .displayModes {
    direction: ltr;
    text-align: left;
  }
}
