@import 'template_variables';
@import 'mixins';
@import 'passage_options';
@import 'passage_display';
@import 'search_display';

.mainPanel {
  min-height: 100%;
  height: 100%;
  margin: 0 auto;
}

#columnHolder {
  overflow-y: hidden;
  @include padding-from-header;

  .column {
    height: 100%;
    padding: 0;
    padding: 0px 2px;
    
    .passageContainer {
      border: 1px solid lightgrey;
      padding: 5px;
      border-radius: 3;
      height: 100%;
      overflow-y: scroll;
      border-width: $activeBorderWidth;
      -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175);
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175);
      
      &.active {
        border-color: $activeColor;
      }

      .activeMarker {
        position: absolute;
        top: $activeBorderWidth;
        left: 50%;
        border-color: $activeColor;
        border-top: 4px solid $activeColor;
        border-right: 4px solid transparent;
        border-bottom: 0 dotted;
        border-left: 4px solid transparent;
      }
      .glyphicon-link {
          margin-left: -10px;
          top: 50%;
          left: 0;
          font-size: 150%;
          position: absolute;
        @include rotate(-135deg);
        
        &:hover {
          color: gray;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .col-sm-5columns, .col-sm-7columns, .col-sm-8columns, .col-sm-9columns, .col-sm-10columns, .col-sm-11columns {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }
  .col-sm-5columns {
    width: (100% / 5) - 0.25%;
  }
  .col-sm-7columns {
    width: (100% / 7) - 0.25%;
  }
  .col-sm-8columns {
    width: (100% / 8) - 0.25%;
  }
  .col-sm-9columns {
    width: (100% / 9) - 0.25%;
  }
  .col-sm-10columns {
    width: (100% / 10) - 0.25%;
  }
  .col-sm-11columns {
    width: (100% / 11) - 0.25%;
  }
}