@import 'template_variables';
@import 'mixins';
@import 'passage_options';
@import 'arg_summary';
@import 'passage_display';
@import 'search_display';
@import 'cross_references';
@import 'help_examples';
 
.mainPanel {
  min-height: 100%;
  height: 100%;
  margin: 0 auto;
}

#columnHolder {
  overflow-y: hidden;
  padding: 0 $paddingFromHeader $paddingFromHeader;

  // divider between passage options and passage
  hr {
    width: 100%;
    clear: both;
    border: 0; 
    border-bottom: 1px solid #ddd;
    padding-bottom: $topSectionPadding;
    margin: 0px 20px $topSectionMarginBottom 5px;
  }
  .column {
    height: 100%;
    padding: 0px 2px;

    .passageContent {
      clear: left;
      height: 100%;
      padding-bottom: $topSectionHeight;
      &> span {
        @include scrollableContainerHeight;
        padding-bottom: $topSectionHeight;
        display: block;
        overflow-y: auto;
      }
    }

    .passageContentHolder {
      outline: 0;
      overflow-y: auto;
      overflow-x: hidden;
      @include scrollableContainerHeight;
    }

    .passageText .popover {
      max-height: 60%;
      overflow-y: auto;
    }

    .passageContainer {
      border: $activeBorderWidth solid lightgrey;
      padding: 5px;
      border-radius: 3;
      height: 100%;
      -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175);
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175);
      
      &.active {
        border-color: $activeColor;
      }

      .activeMarker {
        position: absolute;
        top: $activeBorderWidth;
        left: 50%;
        border: 4px solid $tyndaleBurgundy;
        border-right-color: transparent;
        border-bottom: 0 dotted;
        border-left-color: transparent;
      }
      .linkPanel {
          margin-left: -10px;
          top: 50%;
          left: 0;
          font-size: 150%;
          position: absolute;

          &:hover {
            color: gray;
          }
      }
      .copyrightInfo {
        position: absolute;
        bottom: 5;
        font-size: 11px;
        color: darkgrey;
        @media screen and (max-height: 300px) {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .col-sm-5columns, .col-sm-7columns, .col-sm-8columns, .col-sm-9columns, .col-sm-10columns, .col-sm-11columns {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }
  .col-sm-5columns {
    width: (100% / 5) - 0.25%;
  }
  .col-sm-7columns {
    width: (100% / 7) - 0.25%;
  }
  .col-sm-8columns {
    width: (100% / 8) - 0.25%;
  }
  .col-sm-9columns {
    width: (100% / 9) - 0.25%;
  }
  .col-sm-10columns {
    width: (100% / 10) - 0.25%;
  }
  .col-sm-11columns {
    width: (100% / 11) - 0.25%;
  }
}