@import 'template_variables';
@import 'mixins';
@import 'warning_messages';

.passageOptionsGroup {
  border-bottom: 1px solid $border-color;
  padding-left: $page-padding;
  padding-right: $page-padding;
  opacity: .6;
  @include clearfix;

  [dir='rtl'] a {
    text-align: right;
    & > span:first-child {
      margin-right: 20px;
    }
  }

  .closeColumn.disabled {
    cursor: not-allowed;
    pointer-events: none;

    &:hover, &:active {
      background-position: inherit;
    }
  }

  //buttons to the right are above the middle overflow
  .btn-group.pull-right {
    z-index: 30;
  }

  button span {
    line-height: 1;
    &.smallerFont {
      font-size: 8px;
      line-height: $defaultFontSize;
    }
    &.largerFont {
      font-weight: bold;
    }
  }

  // icons
  a {
    color: $text-color;
    cursor: pointer;
    font-size: $panel-icon-size;
    line-height: 33px;
    padding: 5px 0 5px 15px;
    position: relative;
    top: 1px;

    &:hover, &:focus {
      text-decoration: none;
    }
  }

  .dropdown-menu {
    min-width: 240px;
    padding-top: 0;

    h2 {
      font-size: 14px;
      margin: 10px 8px 4px;
    }

    a {
      display: block;
    }

    a,
    .noHighlight {
      line-height: 20px;
      padding-left: 12px;
    }

    .noHighlight {
      color: #5D5D5D;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    ul {
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;
    }

    li {
      font-size: 14px;
      padding-right: 5px;

      &:hover {
        background-color: $secondaryHoverColour;
      }

      &.contextContainer {
        button {
          padding: 5px 7px;
        }
        &:hover {
          background-color: inherit;
        }
      }
      &.noHighlight {
        padding-bottom: 10px;
        &:hover {
          background-color: inherit;
        }
      }
    }
  }

  .nested-btn-group {
    float: left;
    margin-left: -1px;
  }
  .passageOptions, .displayModes {
    direction: ltr;
    text-align: left;

    //sub groups in the dropdown
    .panel {
      border: none;
      border-radius: 0px;
      box-shadow: none;
      -webkit-box-shadow: none;

      a {
        cursor: hand;

        &:hover {
          background-color: $secondaryHoverColour;
        }
      }

      .caret {
        float: right;
        margin-right: 15px;
        margin-top: 8px;
      }

      .panel-body {
        padding: 0;

        a {
          padding-left: 24px;
        }
      }
    }
  }

  .argSummary {
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
}

.active .passageOptionsGroup {
  opacity: 1;
}
