@import 'template_variables';
@import 'mixins';
@import 'arg_summary';
@import 'passage_options';
@import 'passage_display';
@import 'search_display';
@import 'cross_references';
@import 'help_examples';

.mainPanel {
  min-height: 100%;
  height: 100%;
  margin: 0 auto;
}

.notesPane {
  padding-right: $page-padding;
  margin-right: $page-padding;
  max-width: 20%;
  color: #33339F !important;

  a {
    color: #333;
    font-weight: bold;
    font-size: smaller;
  }
}

.column .notesPane {
  float: left;
  border-right: 1px solid #EAEAEA;
}

.passageContentHolder {
  padding: $page-padding $page-padding 40px;
  outline: 0;
  overflow-y: auto;
  overflow-x: hidden;
  @include scrollableContainerHeight;
}

#columnHolder {
  overflow-y: hidden;
  padding: 0;

  // divider between passage options and passage
  hr {
    width: 100%;
    clear: both;
    border: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: $topSectionPadding;
    margin: 0px 20px $topSectionMarginBottom 5px;
  }
  .column {
    height: 100%;
    padding: 0;

    .passageContent {
      clear: left;
      height: 100%;
      padding-bottom: $topSectionHeight;

      &> span {
        @include scrollableContainerHeight;
        padding-bottom: $topSectionHeight;
        display: block;
        overflow-y: auto;
      }
    }

    .passageText .popover {
      max-height: 60%;
      overflow-y: auto;
    }

    .passageContainer {
      border: 1px solid $border-color;
      height: 100%;

      &.active {
        border-color: $activeColor;
      }

      .activeMarker {
        position: absolute;
        top: $border-width;
        left: 50%;
        border: 7px solid $brand-secondary;
        border-right-color: transparent;
        border-bottom: 0 dotted;
        border-left-color: transparent;
      }

      .linkPanel {
          margin-left: -10px;
          top: 50%;
          left: 0;
          font-size: 150%;
          position: absolute;

          &:hover {
            color: gray;
          }
      }
      .copyrightInfo {
        background-color: #fff;
        position: absolute;
        font-size: 11px;
        color: darkgrey;
        bottom: $border-width;
        left: $border-width + $page-padding;
        right: $border-width + $page-padding;
        padding: 4px 0 8px;

        &:before {
          content: "";
          position: absolute;
          top: -25px;
          left: 0;
          right: 0;
          height: 25px;
          background-image: linear-gradient(-180deg, rgba(255,255,255,0.25) 0%, #FFFFFF 100%);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .col-sm-5columns, .col-sm-7columns, .col-sm-8columns, .col-sm-9columns, .col-sm-10columns, .col-sm-11columns {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }
  .col-sm-5columns {
    width: (100% / 5) - 0.25%;
  }
  .col-sm-7columns {
    width: (100% / 7) - 0.25%;
  }
  .col-sm-8columns {
    width: (100% / 8) - 0.25%;
  }
  .col-sm-9columns {
    width: (100% / 9) - 0.25%;
  }
  .col-sm-10columns {
    width: (100% / 10) - 0.25%;
  }
  .col-sm-11columns {
    width: (100% / 11) - 0.25%;
  }
}