@import 'template_variables';
@import 'mixins';

.passageContainer.waiting, .searchResults .waiting {
  background-position: 50% 5;
}

.passageContentHolder {

  table {
    width: 95%;
    display: inline;
    font-size: inherit;
    margin-bottom: 0px;
    tr.row {
      &:before, &:after {
        display: none;
      }
    }
    th {
      border: none !important;
    }
  }

  table.x-simpleTable {
    width: auto;
    display: inline;
    font-size: inherit;
    margin-bottom: 0px;
    tr.row {
      &:before, &:after {
        display: none;
      }
    }
    th {
      border: none !important;
    }
  }

  td {
    //    font-size: $defaultFontSize;
    &.x-end-row {
      vertical-align: bottom;
      text-align: right;
    }

    &.x-simpleTable-td-left {
      padding: 0px 15px;
    }

    &.x-simpleTable-td-right {
      text-align: right;
      padding:0px 15px
    }
  }

  text-align: justify;
  h2 {
    margin-bottom: 5px;
    &.xgen {
      margin-top: 0px;
      text-align: left;
      font-family: arial;
      font-weight: bold;
      font-size: 30px;
    }
    &.sub {
      font-size: 90%;
    }
  }
  .paragraph {
    margin-top: 8px;
    content: ' ';
    display: block;
  }

  .endLineGroup, .startLineGroup {
    content: ' ';
    display: block;
    margin-bottom: 4px;
  }
  .startLineGroup {
    padding-top: 8px;
  }
  h2 + br, .startLineGroup + br, .startLineGroup + br + .level1, h2 + br + span + br, br + .paragraph + br {
    display: none;
  }
  a + br + .level1 {
    margin-right: -10px;
  }
  span.level1 {
    margin-top: 8px;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
  }
  span.level2 {
    padding-left: 50px;
  }
  span.level3 {
    padding-left: 70px;
  }
  span.level4 {
    padding-left: 90px;
  }
  span.level5 {
    padding-left: 110px;
  }  span.level1, span.level2, span.level3, span.level4, span.level5 {
    content: ' ';
  }
  br + br {
    display: none;
  }

  // TODO: Can notesPane be hidden behind an icon or positioned absolute
  .notesPane {
    &> a:hover {
      cursor: text;
      text-decoration: none;
    }
    text-align: left;
    min-height: 100%;
    &:empty {
      display: none;
    }
  }
  .verse.containsTable {
    text-align: left;
  }
  p.x-continued {
    margin-bottom: 0px;
  }
  .verseLink + .x-min-width {
    margin-left: 2px;
  }
  div.x-min-width {
    width: 60%;
    display: inline-block;
    margin-left: 15px;
  }
  .small-caps {
    font-size: 110%;
    & > em.foreign, & > .x-inscription {
      text-align: center;
      display: block;
      margin-bottom: -20px;
    }
  }
  .x-p-inscription {
    font-size: 100%;
    text-align: center;
    display: block;
    font-variant: small-caps;
  }
  .x-doxology {
    display: block;
    text-align: center;
  }
  .duplicate {
    color: grey !important;
    font-weight: normal;
    font-style: italic;
  }

  .duplicate .heading {
    color: grey;
  }

  .duplicate-notice {
    float: left;
  }

  .versification-notice {
    font-size: 75%;
    float: left;
    color: $headingColour;
  }

  [data-version] {
    cursor: hand;
  }

  [data-version-disabled="true"] {
    cursor: not-allowed;
    text-decoration: none;
    color: $disabledColour;
  }
}

.verseNumber {
  min-width: 10px;
  vertical-align: top;
  font-size: 8pt;
  cursor: hand;
  background-color: $verseNumberBackground;
  color: $headingColour;
  text-align: center;
  display: inline-block;
  margin-right: 2px;
  font-weight: bold;
  font-family: tahoma;
  border-radius: 20px;
  padding: 0 3px 0 5px;

  &:hover {
    background: #26539e;
    color: #fff;
  }
}

h3.canonicalHeading {
  @include canonicalHeading;
}

h3.psalmHeading {
  @include canonicalHeading;
  margin: 0 0 0 5;
}

h3.canonicalHeading {
  @include canonicalHeading;
}

h2.heading {
  & + .startLineGroup {
    padding-top: 0px;
  }
  &.x-proverbs {
    font-size: 100%;
    font-weight: bold;
    text-align: center;
  }
  &.part {
    font-size: 100%;
    font-weight: bold;
    text-align: center;
  }
  &.x-speaker {
    @include canonicalHeading;
    margin-bottom: 0;
  }
  &.x-acrostic {
    @include canonicalHeading;
    margin-bottom: 0;
    margin-left: 20px;
  }
}

h3 {
  &.canonicalHeading.acrostic {
    @include canonicalHeading;
    margin-bottom: 0;
    margin-left: 20px;
  }
}

.comparingTable, .interlinear, .verseGrouping {
  .verseNumber {
    padding: 3 7 3 7;
  }
  td {
    .level1:last-child {
      display: none;
    }
  }
  .singleVerse {
    & > .paragraph,
    & > .startLineGroup,
    > .level1:last-child,
    > .smallResultKey + .startLineGroup,
    .smallResultKey + .startLineGroup + .level1,
    > .startLineGroup:last-child {
      display: none;
    }

  }
}

.headingVerseNumber + .cell.primary {
  border-left: none;
}

.verseGrouping {
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  padding-bottom: 5px;

  * .smallResultKey {
    margin-right: 10px;
    margin-left: 3px;
    font-size: 12px;
    font-family: $defaultFontFamily;
  }

  * p {
    margin-left: 5px;
    display: inline;
  }
}
