@import 'template_variables';

#quickLexicon {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 0 0;
  padding: 0 4 2 4;
  width: 100%;
  
  &>div {
    // Need a min height because Chrome has a hover bar that tells you where the link will go if you click it.
    min-height: 50px;
    background-color: $hoverColor;
    padding: 5 5 5 5;
  }
  
  h1 {
    display: inline-block;
    clear: left;
    margin-top: 5px;
  }
  
  .infoTagLine {
    font-size: xx-small;
    text-align: right;
    display: block;
  }

  .strongCount {
    font-style: italic;
  }
}