@import 'template_variables';

#quickLexicon {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 0 0;
  width: 100%;
  z-index: 40;

  a {
    color: inherit;
    text-decoration: underline;
  }

  .sideNote {
    text-decoration: none;
  }

  br {
    display: inline;
    margin-left: 10px;
    content: ' ';
  }
  .shortDef {
    line-height: 18px;
  }
  .mediumDef {
    line-height: 18px;
    max-height: 36px;
    margin-top: 0px;
    margin-left: 10px;
    overflow: hidden;
    &:after {
      content: '...';
    }
  }

  &>div {
    padding:10px;
    background: $quickLexiconColour;
    color: $quickLexiconFontColour;
//    opacity:.95;
    line-height:22px;

    // Need a min height because Chrome has a hover bar that tells you where the link will go if you click it.
    min-height: 50px;
  }

  h1 {
    color: $quickLexiconFontColour;
    display: inline-block;
    clear: left;
    margin-top: 5px;
    &:after {
      content:" -- ";
    }
  }

  .hbFontSmall {
    // override in case of ancient vocab
    font-size: 120%;
  }

  .infoTagLine {
    font-size: x-small;
    text-align: left;
    display: block;
    font-family: tahoma;
    border-top: 1px dotted rgba(240, 127, 136, 1);
    margin: 12px 10px 5px;
    opacity: .6;
    &:hover {
      opacity: 1;
    }
  }

  .strongCount {
    opacity:0.7;
    display: block;
    width: auto;
    text-align: left;
  }

  .close {
    color: white;
    opacity: .8;
    padding-left: 10px;
  }
}