@import 'template_variables';

.passageContent {
  .notApplicable {
    color: grey !important;
    font-weight: normal;
    clear: left;
    display: block;

    em {
      font-weight: bold;
    }
  }
}

.searchResultRow {
  .passageContentHolder {
    height: auto !important;

    &.hbFont {
      text-align: right;
    }
  }
  .verse {
    vertical-align: middle;
  }
  p {
    &:before {
      content: "/";
    }
    display: inline;
    font-style: italic;
    margin: 0px 5px 0px 5px;
  }
  .verseNumber {
    vertical-align: middle;
    font-family: $font-family-header;
    font-weight: bold;
    line-height: 1.6;
  }
  br, .startLineGroup, .paragraph {
    display: none;
  }
  span {
    &.level1, &.level2, &.level3, &.level4, &.level5 {
      padding: 0px;
      margin: 0px;
      &:before {
        content: ' / ';
      }
    }
  }
  table {
    tr.row {
      &:before, &:after {
        display: none;
      }

      td, th {
        border-top: none;
      }
    }
    border-bottom: solid 1px #ddd;
  }
}

h4.lexicalGrouping {
  font-size: $defaultFontSize;
  .glyphicon {
    margin-right: 10px;
  }
}

.originalWordSearchToolbar {
  clear: both;
  margin-bottom: 10px;

  .panel {
    margin-bottom: 0;
  }

  .thisOnly, .untick {
    font-size: 10px;
  }
  .thisOnly {
    margin-left: 15px;
  }

  .sortOptions {
    display: inline-block;
    font-weight: normal;

    a {
      font-weight: bold;
      text-decoration: none;
      margin: 0 2 0 3;
      &:hover {
        text-decoration: underline;
      }
      &.active {
        color: grey;
        cursor: default;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .panel-body {
    padding: 5px;
  }

  [strong]:hover {
    //color: $strong-color;
	color: var(--strong_color);
  }

  ul {
    padding: 0px;
    list-style: none;
    margin-bottom: 0px;
  }
  li {
    padding: 0px;
  }
  label {
    margin: 0px;
    font-weight: normal;
  }
}

.subjectToolbar {
  display: inline-block;
  float: initial;
  width: initial;
  margin-bottom: 10px;

  label {
    padding-right: 20px;
    padding-left: 5px;
  }

  .radioGroup {
    display: inline-block;
    width: initial;
  }
}

.searchResultRow {
  margin-bottom: 5px;
}

// other sections that don't go anywhere in particular
.subjectSection {
  h4.expandedHeadingItem {
    font-size: $defaultFontSize;
    color: black;
  }

  .subjectNotice {
    color: darkgrey;
    font-style: italic;
  }
}

.searchResultStrongHeader {
  font-size: $defaultFontSize + 2;
}

.resultsLabel {
  font-style: italic;
  margin-right: 15px;
  line-height: 28px;
}
