@import 'template_variables';
@import 'mixins';

.select2-results {
  .initials {
    font-weight: bold;
  }
  .source {
    float: right;
    font-style: italic;
  }
  .features {
    float: right;
    margin-right: 5px;
    padding: 0 2;
    
    font-weight: bold;
  }
  .versionItem {
    .features {
      
    }
  }
}

.select2-search-choice.meanings, .select-meanings {
  @include gradient($meaningsRow, $optionStartGradient, $optionEndGradient);
}

.select2-search-choice.version, .select-version {
  @include gradient($bibleRow, $optionStartGradient, $optionEndGradient);
}

.select2-search-choice.reference, .select-reference {
  @include gradient($referenceRow, $optionStartGradient, $optionEndGradient);
}

.select2-search-choice.subject, .select-subject {
  @include gradient($subjectRow, $optionStartGradient, $optionEndGradient);
}

.select2-search-choice.text, .text {
  @include gradient($textRow, $optionStartGradient, $optionEndGradient);
}

.select2-search-choice.greek, .select-greek {
  @include gradient($greekRow, $optionStartGradient, $optionEndGradient);
}

.select2-search-choice.greekMeanings, .select-greekMeanings {
  @include gradient($greekMeaningsRow, $optionStartGradient, $optionEndGradient);
}

.select2-search-choice.hebrew, .select-hebrew {
  @include gradient($hebrewRow, $optionStartGradient, $optionEndGradient);
}

.select2-search-choice.hebrewMeanings, .select-hebrewMeanings {
  @include gradient($hebrewMeaningsRow, $optionStartGradient, $optionEndGradient);
}

@media screen and (min-width: $stepXSBootstrap) {
  .select2-drop-multi ul {
    margin: 0px;
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-count: 2;
    li {
      display: inline-block;
      border-bottom: solid 1 lightgrey;
      width: 100%;
    }
  }
}

.searchLabel a {
  font-size: 90%;
  padding: 2px;
  border-radius: 3 3 3 3 !important;
  cursor: hand;
}