.select2-search-choice.selectBibleRow, .selectBibleRow {
  background-image: -webkit-linear-gradient(top, #a94a4c 20%, #c3827c 100%) !important; }

.select2-search-choice.subjects, .subjects {
  background-image: -webkit-linear-gradient(top, #c5707a 20%, #d69da1 100%) !important; }

.select2-search-choice.greek, .greek {
  background-image: -webkit-linear-gradient(top, #d6bab5 20%, #e4d0cc 100%) !important; }

.select2-search-choice.greekMeanings, .greekMeanings {
  background-image: -webkit-linear-gradient(top, #757476 20%, #a2a1a3 100%) !important; }

.select2-search-choice.hebrew, .hebrew {
  background-image: -webkit-linear-gradient(top, #55688f 20%, #8a92af 100%) !important; }

.select2-search-choice.hebrewMeanings, .hebrewMeanings {
  background-image: -webkit-linear-gradient(top, #684a58 20%, #967c84 100%) !important; }

.select2-search-choice.selectReferenceRow, .selectReferenceRow {
  background-image: -webkit-linear-gradient(top, lightgreen 20%, #eeeeee 100%) !important; }
