@import 'template_variables';
@import 'mixins';
@import 'multi_columns';

.select2-results {
  @media screen and (min-width: $stepXSBootstrap) {
    @include multi-column(2);
  }

  .maxSelected {
    cursor: not-allowed;
  }

  .initials {
    font-weight: bold;
  }
  .source {
    float: right;
    font-style: italic;
  }
  .features {
    float: right;
    margin-right: 5px;
    padding: 0 2;
    
    font-weight: bold;
  }

  .glyphicon-plus {
    font-size: 90%; 
  }

  li {
    background:#eee;
    padding:6px 5px;
    filter: none;
    background-image: inherit !important;
    color: white !important;
    &.select2-highlighted {
      @include bold-args($optionStartGradient, $optionEndGradient);
    }
    @include bold-args($optionEndGradient, $optionEndGradient);
  }
}

li, span {
  @include bold-args($optionStartGradient, $optionEndGradient);
}

@media screen and (max-width: $stepXSBootstrap - 1) {
  .select2-drop-multi {
    width: 90% !important;
  }
}

@media screen and (min-width: $stepXSBootstrap) {
  .select2-drop-multi ul {
    margin: 0px;
    li {
      padding: 0;
      display: inline-block;
      width: 100%;
    }
    .message {
      float: right;
      margin: 2px 3px 0 0;
      font-size: 90%;
    }
  }
}

.searchLabel a {
  font-size: 90%;
  padding: 2px;
  border-radius: 3px !important;
  cursor: pointer;
}

.versionItem {
  &.masterVersion {
    font-weight: bold;
    font-style: italic;
  }
}