@import 'template_variables';
@import 'mixins';
@import 'multi_columns';

.select2-results {
  @include multi-column(2);
  
  .initials {
    font-weight: bold;
  }
  .source {
    float: right;
    font-style: italic;
  }
  .features {
    float: right;
    margin-right: 5px;
    padding: 0 2;
    
    font-weight: bold;
  }
  .versionItem {
    .features {
      
    }
  }
  .glyphicon-plus {
    font-size: 90%; 
  }
}

.select-meanings {
  @include gradient($meaningsRow, $optionStartGradient, $optionEndGradient);
}

.select-version {
  cursor: hand !important;
  @include gradient($bibleRow, $optionStartGradient, $optionEndGradient);
}

.select-reference {
  cursor: hand !important;
  @include gradient($referenceRow, $optionStartGradient, $optionEndGradient);
}

.select-subject {
  @include gradient($subjectRow, $optionStartGradient, $optionEndGradient);
}

.select-text {
  @include gradient($textRow, $optionStartGradient, $optionEndGradient);
}

.select-greek {
  @include gradient($greekRow, $optionStartGradient, $optionEndGradient);
}

.select-greekMeanings {
  @include gradient($greekMeaningsRow, $optionStartGradient, $optionEndGradient);
}

.select-hebrew {
  @include gradient($hebrewRow, $optionStartGradient, $optionEndGradient);
}

.select-hebrewMeanings {
  @include gradient($hebrewMeaningsRow, $optionStartGradient, $optionEndGradient);
}

.select-topicref {
  @include gradient($topicByRefRow, $optionStartGradient, $optionEndGradient);
}

@media screen and (min-width: $stepXSBootstrap) {
  .select2-drop-multi ul {
    margin: 0px;
    li {
      display: inline-block;
      border-bottom: solid 1 lightgrey;
      width: 100%;
    }
    .message {
      float: right;
      margin: 2px 3px 0 0;
      font-size: 90%;
    }
  }
}

.searchLabel a {
  font-size: 90%;
  padding: 2px;
  border-radius: 3 3 3 3 !important;
  cursor: hand;
}

