@import 'template_variables';

#animateWordle {
  font-size: 90%;
  padding-top: 3px;
  padding-bottom: 4px;
}

.scopeContainer {
  margin-top: 5px;
  margin-bottom: 20px;
  border-bottom: lightgrey solid 1px;
  padding: 5px;

  label {
    font-size: 17px;
  }

  .btn {
    font-size: 110%;

    &> .caret {
      margin-left: 4px;
    }
  }

  input[type="checkbox"] {
    margin-top: 8px;
  }
}

#statsContainer {
  line-height: 1;
}

#wordScope {
  input {
    width: 85%;
  }

  a {
    cursor: pointer;
  }
}
