@import 'sidebar_structure';
@import 'sidebar_header';
@import 'sidebar_definition';
@import 'sidebar_wordle';
@import 'sidebar_history';
@import 'sidebar_help';

#sidebar {
  h2 {
    margin-top: 1em;
    font-size: 17px;

    &:first-child {
      margin-top: 0;
    }
  }
}