@import 'template_variables';

#lexicon {
  color: $text-color;

  font-size: var(--stepDefaultFontSize);
  font-family: $font-family-primary;

  h1,
  h2,
  h3 {
    font-family: $font-family-header;
    margin-bottom: 10px;
  }

  > * {
    font-size: 0.9333em;
  }

  h1 {
    font-size: $chapter-title-size;
    margin-top: 0;
  }

  h2 {
    font-size: 1.1333em;
  }

  h3 {
    font-size: 0.8em;
    display: inline;
    &:after {
      content: ": ";
    }
  }
  ul {
    padding-left: 20px;
  }

  .strongNumberTagLine, .grammarExplained {
    color: darkgrey;
  }
}
