@import 'template_variables';

#sidebar {
  &> ul > li {
    text-align: center;
    &.closeSidebar {
      float: right;
    }
    &.active {
      a {
        color: $headingColour;
      }
    }
    a {
      color: $inactiveTabColor;
      padding: 2 5 2 5;
      &.stepglyph-help {
        font-weight: bold;
      }
    }
  }
}

