@import 'template_variables';

#animateWordle {
  font-size: 70%;
  padding-bottom: 4px;
}

.scopeContainer {
  margin-top: 5px;
  border-bottom: lightgrey solid 1px;
  padding: 5px;
}

#statsContainer {
  line-height: 1;
}

#wordScope {
  input {
    width: 75%;
  }
  a {
    cursor: pointer;
  }
}
