@import 'template_variables';

#lexicon {
  
  h1 {
    font-size: 16px;
    margin-bottom: 0px;
  }
  h2 {
    font-size: 14px;
    margin-bottom: 0px;
  }
  h3 {
    font-size: 12px;
    display: inline;
    &:after {
      content: ": ";
    }
  }
  ul {
    padding-left: 20px;
  }
  
  .strongNumberTagLine, .grammarExplained {
    color: darkgrey;
  }

  .panel-body {
    padding-top: 0;
    padding-left: 0px;
  }
}