@import 'template_variables';
@import 'mixins';

#history {
  .list-group-item {
    border: none;
    padding: 1px 0px;
    line-height: 18pt;
    a {
      padding: 0px;
    }
  }
  .glyphicon {
    font-size: 12pt;
    line-height: 12pt;
    vertical-align: text-bottom;
    padding: 0px;
    margin: 0 5px 0 0;

    &:hover {
      color: $headingColour;
      cursor: hand;
    }
    &.glyphicon-open {
      @include rotate(-90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }

    &.glyphicon-pushpin {
      &:hover {
        @include rotate(-45deg);
      }
    }
    &.glyphicon-pushpin-pinned {
      &:before {
        content: "\e146";
      }
      @include rotate(-45deg);
      &:hover {
        @include rotate(0deg);
      }
    }
  }
  
  h3 {
    font-size: 13px;
    margin: 0 0 5 0;
    padding: 5 0 0 0;
  }
  
  .historyItem .argSummary {
    display: inline;
  }
}
