h1, h2, h3, h4, h5, h6 {
  color: #991c32;
  font-weight: bold; }

body, .dropdown-menu, .searchResultRow {
  font-size: 12px; }

ul .glyphicon-ok {
  margin-right: 10px;
  color: #991c32;
  visibility: hidden; }
  ul .glyphicon-ok.active {
    visibility: visible; }

.navbar {
  height: 63px;
  margin-bottom: 0px; }
  .navbar .navbar-header {
    font-size: x-small;
    background: black no-repeat fixed url(../images/step-top-left-logo.png); }
  .navbar a, .navbar .subtitle, .navbar .subtitle:hover {
    color: lightgrey; }

.navbar-brand {
  padding-left: 50px;
  padding-bottom: 0px; }
  .navbar-brand .title > a {
    color: white !important;
    font-weight: bold;
    text-decoration: none; }
  .navbar-brand .subtitle {
    margin-top: 5px;
    white-space: nowrap;
    font-size: x-small;
    line-height: 1; }

.navbar-brand, .search-form, .help {
  padding-top: 10px; }

.search-form {
  font-size: x-small; }
  .search-form a {
    color: lightgrey; }
  .search-form button {
    text-shadow: none; }

.searchLinks {
  float: right;
  margin-top: 4px;
  color: lightgrey; }
  .searchLinks a, .searchLinks label {
    vertical-align: top;
    margin-left: 20px; }
  .searchLinks input {
    margin: 2px 0 0 0; }

.help {
  color: lightgrey; }
  .help ul {
    float: right; }
  @media screen and (max-width: 524px) {
    .help {
      display: none; } }

.mainPanel, #sidebar {
  padding: 63px 0 10px 0px; }

@media screen and (max-width: 991px) {
  .kolumny {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden; } }
@media screen and (min-width: 992px) {
  .kolumny {
    -moz-column-count: 2;
    /* Firefox */
    -webkit-column-count: 2;
    /* Safari and Chrome */
    column-count: 2;
    max-width: 600px; } }

@media screen and (max-width: 1120px) {
  .miniKolumny {
    max-height: 500px;
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden; } }
@media screen and (min-width: 1121px) {
  .miniKolumny {
    -moz-column-count: 2;
    /* Firefox */
    -webkit-column-count: 2;
    /* Safari and Chrome */
    column-count: 2;
    max-width: 800px;
    min-width: 500px; } }

/***
*  auto suggests
*/
.search-form .select2-arrow {
  display: none !important; }

@media screen and (min-height: 400px) {
  .select2-results {
    max-height: 300px; } }
@media screen and (min-height: 600px) {
  .select2-results {
    max-height: 500px; } }
@media screen and (min-height: 900px) {
  .select2-results {
    max-height: 800px; } }
.select2-search-choice-close {
  left: auto !important;
  top: 3px !important; }

.select2-container-multi .select2-choices {
  border-radius: 3 0 0 3 !important; }
  .select2-container-multi .select2-choices .select2-search-choice {
    margin: 5px 0 2px 5px;
    padding-left: 5px;
    padding-right: 18px; }
  .select2-container-multi .select2-choices .select2-search-field input {
    font-family: inherit;
    padding: 6px 12px;
    margin: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.select2-container {
  border: 0px !important; }

.select2-results .initials {
  font-weight: bold; }
.select2-results .source {
  float: right;
  font-style: italic; }
.select2-results .features {
  float: right;
  margin-right: 5px; }

.select2-search-choice.meanings, .select-meanings {
  background-image: -webkit-linear-gradient(top, #ffff66, #ffff99) !important; }

.select2-search-choice.version, .select-version {
  background-image: -webkit-linear-gradient(top, #cd8c8e, #dcb0b1) !important; }

.select2-search-choice.reference, .select-reference {
  background-image: -webkit-linear-gradient(top, #e8fce8, white) !important; }

.select2-search-choice.subject, .select-subject {
  background-image: -webkit-linear-gradient(top, #e2b9bd, #f1dddf) !important; }

.select2-search-choice.text, .text {
  background-image: -webkit-linear-gradient(top, #66ffff, #99ffff) !important; }

.select2-search-choice.greek, .select-greek {
  background-image: -webkit-linear-gradient(top, #faf7f7, white) !important; }

.select2-search-choice.greekMeanings, .select-greekMeanings {
  background-image: -webkit-linear-gradient(top, #a8a7a9, #c2c1c2) !important; }

.select2-search-choice.hebrew, .select-hebrew {
  background-image: -webkit-linear-gradient(top, #8e9dbc, #aeb9cf) !important; }

.select2-search-choice.hebrewMeanings, .select-hebrewMeanings {
  background-image: -webkit-linear-gradient(top, #9f798b, #b596a4) !important; }

.searchLabel a {
  font-size: 90%;
  padding: 2px;
  border-radius: 3 3 3 3 !important;
  cursor: hand; }

.passageOptionsGroup {
  float: right; }
  .passageOptionsGroup button span {
    line-height: 1; }
    .passageOptionsGroup button span.smallerFont {
      font-size: 8px;
      line-height: 12px; }
    .passageOptionsGroup button span.largerFont {
      font-weight: bold; }
  .passageOptionsGroup .dropdown-menu {
    padding-left: 5px; }
  .passageOptionsGroup ul {
    padding-left: 5px;
    margin-bottom: 0px; }
  .passageOptionsGroup .settingsDropdown li {
    padding-right: 5px; }
    .passageOptionsGroup .settingsDropdown li:hover {
      background-color: #ebebf1; }
    .passageOptionsGroup .settingsDropdown li.contextContainer button {
      padding: 5px 7px; }
    .passageOptionsGroup .settingsDropdown li.contextContainer:hover {
      background-color: inherit; }
    .passageOptionsGroup .settingsDropdown li.noHighlight {
      padding-bottom: 10px; }
      .passageOptionsGroup .settingsDropdown li.noHighlight:hover {
        background-color: inherit; }
        .passageOptionsGroup .settingsDropdown li.noHighlight:hover .btn-group {
          margin-left: 10px; }
  .passageOptionsGroup a {
    color: black;
    display: block; }
    .passageOptionsGroup a:hover {
      text-decoration: none; }
  .passageOptionsGroup h1 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 3px; }
  .passageOptionsGroup .nested-btn-group {
    float: left;
    margin-left: -1px; }
  .passageOptionsGroup .passageOptions, .passageOptionsGroup .displayModes {
    direction: ltr;
    text-align: left; }

.passageContentHolder h2 {
  margin-top: 0px; }

.verseNumber {
  vertical-align: top;
  font-size: 6pt;
  margin-right: 2px;
  cursor: hand;
  background-color: #f3e5b4;
  color: #991c32;
  font-weight: bold; }

.searchResultRow .verse {
  vertical-align: middle; }
.searchResultRow p {
  display: inline;
  font-style: italic;
  margin: 0px 5px 0px 5px; }
  .searchResultRow p:before {
    content: "/"; }
.searchResultRow .verseNumber {
  vertical-align: middle; }

h4.lexicalGrouping {
  font-size: 12px; }

.resultsLabel {
  font-style: italic;
  clear: right; }

.mainPanel {
  min-height: 100%;
  height: 100%;
  margin: 0 auto; }

#columnHolder {
  overflow-y: hidden;
  padding: 4px; }
  #columnHolder .column {
    height: 100%;
    padding: 0;
    padding: 0px 2px; }
    #columnHolder .column .passageContainer {
      border: 1px solid lightgrey;
      padding: 5px;
      border-radius: 3;
      height: 100%;
      overflow-y: scroll;
      border-width: 2px;
      -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175);
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175); }
      #columnHolder .column .passageContainer.active {
        border-color: #d74f4b; }
      #columnHolder .column .passageContainer .activeMarker {
        position: absolute;
        top: 2px;
        left: 50%;
        border-color: red;
        border-top: 4px solid #d74f4b;
        border-right: 4px solid transparent;
        border-bottom: 0 dotted;
        border-left: 4px solid transparent; }

@media (min-width: 768px) {
  .col-sm-5columns, .col-sm-7columns, .col-sm-8columns, .col-sm-9columns, .col-sm-10columns, .col-sm-11columns {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left; }

  .col-sm-5columns {
    width: 19.75%; }

  .col-sm-7columns {
    width: 14.03571%; }

  .col-sm-8columns {
    width: 12.25%; }

  .col-sm-9columns {
    width: 10.86111%; }

  .col-sm-10columns {
    width: 9.75%; }

  .col-sm-11columns {
    width: 8.84091%; } }
#bibleVersions {
  z-index: 10000; }
  #bibleVersions .modal-body {
    padding: 5px; }
  #bibleVersions span.form-group {
    margin-left: 3px; }
  #bibleVersions .list-group-item {
    padding: 2px; }
  #bibleVersions .list-group {
    margin-bottom: 5px; }
  #bibleVersions .tab-pane {
    overflow-y: scroll;
    padding: 2px; }
  #bibleVersions h1 {
    font-size: 10pt;
    margin: 0px 0px 4px; }
  #bibleVersions .closeModal label {
    margin-bottom: 0px; }
  #bibleVersions li.list-group-item {
    cursor: hand; }
    #bibleVersions li.list-group-item a.glyphicon-info-sign {
      margin-right: 5px; }
      #bibleVersions li.list-group-item a.glyphicon-info-sign:hover {
        text-decoration: none; }
    #bibleVersions li.list-group-item.active {
      color: white; }
      #bibleVersions li.list-group-item.active a {
        color: white; }
  @media screen and (min-height: 400px) {
    #bibleVersions .tab-pane {
      max-height: 200px; } }
  @media screen and (min-height: 600px) {
    #bibleVersions .tab-pane {
      max-height: 400px; } }
  @media screen and (min-height: 900px) {
    #bibleVersions .tab-pane {
      max-height: 700px; } }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px; }

::-webkit-scrollbar-track {
  border-width: 0; }

::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px; }

::-webkit-scrollbar-button {
  height: 0;
  width: 0; }

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px; }

::-webkit-scrollbar-track:horizontal {
  border-width: 4px 0 0; }

::-webkit-scrollbar-track:hover {
  background-color: rgba(153, 28, 50, 0.05);
  box-shadow: inset 1px 0 0 rgba(153, 28, 50, 0.1); }

::-webkit-scrollbar-track:horizontal:hover {
  box-shadow: inset 0 1px 0 rgba(153, 28, 50, 0.1); }

::-webkit-scrollbar-track:active {
  background-color: rgba(153, 28, 50, 0.05);
  box-shadow: inset 1px 0 0 rgba(153, 28, 50, 0.14), inset -1px 0 0 rgba(153, 28, 50, 0.07); }

::-webkit-scrollbar-track:horizontal:active {
  box-shadow: inset 0 1px 0 rgba(153, 28, 50, 0.14), inset 0 -1px 0 rgba(220, 172, 0, 0.07); }

::-webkit-scrollbar-thumb {
  background-color: rgba(153, 28, 50, 0.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(153, 28, 50, 0.2), inset 0 -1px 0 rgba(153, 28, 50, 0.07); }

::-webkit-scrollbar-thumb:horizontal {
  border-width: 6px 1px 1px;
  padding: 0 0 0 100px;
  box-shadow: inset 1px 1px 0 rgba(153, 28, 50, 0.9), inset -1px 0 0 rgba(153, 28, 50, 0.93); }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(153, 28, 50, 0.4);
  box-shadow: inset 1px 1px 1px rgba(153, 28, 50, 0.25); }

::-webkit-scrollbar-thumb:active {
  background-color: rgba(153, 28, 50, 0.5);
  box-shadow: inset 1px 1px 3px rgba(153, 28, 50, 0.35); }

::-webkit-scrollbar-track {
  border-width: 0 1px 0 6px; }

::-webkit-scrollbar-track:horizontal {
  border-width: 6px 0 1px; }

::-webkit-scrollbar-track:hover {
  background-color: rgba(153, 28, 50, 0.035);
  box-shadow: inset 1px 1px 0 rgba(153, 28, 50, 0.14), inset -1px -1px 0 rgba(153, 28, 50, 0.07); }

::-webkit-scrollbar-thumb {
  border-width: 0 1px 0 6px; }

::-webkit-scrollbar-thumb:horizontal {
  border-width: 6px 0 1px; }

::-webkit-scrollbar-corner {
  background: transparent; }

body::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  background-color: #f5f5f5;
  border: solid #fff;
  border-width: 0 0 0 3px;
  box-shadow: inset 1px 0 0 rgba(153, 28, 50, 0.14), inset -1px 0 0 rgba(153, 28, 50, 0.07); }

body::-webkit-scrollbar-track-piece:horizontal {
  border-width: 3px 0 0;
  box-shadow: inset 0 1px 0 rgba(153, 28, 50, 0.14), inset 0 -1px 0 rgba(153, 28, 50, 0.07); }

body::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 5px; }

body::-webkit-scrollbar-thumb:horizontal {
  border-width: 5px 1px 1px; }

body::-webkit-scrollbar-corner {
  background-clip: padding-box;
  background-color: #f5f5f5;
  border: solid #fff;
  border-width: 3px 0 0 3px;
  box-shadow: inset 1px 1px 0 rgba(153, 28, 50, 0.14); }

#sidebar {
  display: none;
  padding: 4px; }
  #sidebar > div {
    border-left: 1px solid lightgrey;
    padding-left: 5px;
    height: 100%; }

.active #sidebar {
  display: block; }

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }
    .row-offcanvas .sidebar-offcanvas {
      right: -75%;
      top: 63px; }
    .row-offcanvas.active {
      right: 75%; }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 75%; } }
@media screen and (min-width: 768px) {
  #columnHolder {
    width: 100%; }

  #columnHolder, #sidebar {
    position: relative;
    min-height: 1px;
    float: left; }

  .active #columnHolder {
    width: 79.16667%; }

  .active #sidebar {
    width: 20.83333%;
    overflow-y: scroll;
    height: 100%; } }
#sidebar li.closeSidebar {
  float: right; }
#sidebar li.active a {
  color: #991c32; }
#sidebar li a {
  color: black;
  padding: 2 20 2 5; }

#lexicon h1 {
  font-size: 16px;
  margin-bottom: 0px; }
#lexicon h2 {
  font-size: 12px;
  margin-bottom: 0px; }

#animateWordle {
  font-size: 70%;
  padding-bottom: 4px; }

.scopeContainer {
  margin-top: 5px;
  border-bottom: lightgrey solid 1px;
  padding: 5px; }

#statsContainer {
  line-height: 1; }

#wordScope input {
  width: 75%; }
#wordScope a {
  cursor: pointer; }

.versePopup {
  max-width: 600px !important; }
  .versePopup a {
    font-size: 12px;
    white-space: nowrap; }
  .versePopup h1 {
    font-size: 12px;
    white-space: nowrap;
    margin: 0px; }
