h1, h2, h3, h4, h5, h6, .panel-title {
  color: #991c32;
  font-weight: bold; }

body, .dropdown-menu, .searchResultRow, #quickLexicon h1 {
  font-size: 12px; }

ul .glyphicon-ok {
  margin-right: 10px;
  color: #991c32;
  visibility: hidden; }
  ul .glyphicon-ok.active {
    visibility: visible; }

.panel-heading {
  padding: 2px 5px; }
  .panel-heading h4 {
    cursor: hand;
    margin: 0px;
    font-size: 12px; }

.panel-group .panel + .panel {
  margin-top: 3px; }

.waiting {
  background-image: url(/images/wait16.gif);
  background-repeat: no-repeat; }

@media screen {
  .navbar {
    height: 40px;
    margin-bottom: 0px;
    min-height: initial; }
    .navbar .navbar-header {
      font-size: x-small;
      background: black;
      width: 100%; }
    .navbar #logo {
      top: 0;
      left: 0;
      position: absolute; }
    .navbar a, .navbar .subtitle, .navbar .subtitle:hover {
      color: lightgrey; }
    .navbar.form-group, .navbar form {
      margin-bottom: 0px; }
      .navbar.form-group button, .navbar form button {
        min-width: 80px;
        text-shadow: none; }

  .navbar-brand {
    padding-left: 50px;
    padding-bottom: 0px;
    height: 40px; }
    .navbar-brand .title {
      margin-right: 10px;
      float: left; }
      .navbar-brand .title > a {
        color: white !important;
        font-weight: bold;
        text-decoration: none; }
    .navbar-brand .subtitle {
      margin-top: 5px;
      white-space: nowrap;
      font-size: x-small;
      line-height: 1; }

  .navbar-brand {
    padding-top: 5px; }

  .search-form {
    font-size: x-small; }
    .search-form a {
      color: lightgrey; }
    .search-form button {
      text-shadow: none; }

  .searchLinks {
    float: right;
    margin-top: 4px;
    color: lightgrey; }
    .searchLinks a, .searchLinks label {
      vertical-align: top;
      margin-left: 20px; }
    .searchLinks input {
      margin: 2px 0 0 0; }

  .help {
    padding-top: 3px;
    font-size: 12px;
    margin-left: 10px;
    float: right;
    color: lightgrey; }
    .help ul {
      float: right; }
    .help button {
      padding: 3 5 3 6;
      margin-left: 10px;
      margin-right: 20px;
      font-size: 11px;
      font-family: Arial; }

  .mainPanel, #sidebar {
    padding: 40px 0 10px 0px; } }
  @media screen and (max-width: 524px) {
    .help {
      display: none; } }
@media screen and (max-width: 991px) {
  .kolumny {
    max-height: 500;
    overflow-y: auto;
    overflow-x: hidden; } }
@media screen and (min-width: 992px) {
  .kolumny {
    max-width: 600px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    column-gap: 2px;
    -moz-column-gap: 2px;
    -webkit-column-gap: 2px;
    overflow-y: auto;
    overflow-x: hidden; } }

@media screen and (max-width: 1120px) {
  .miniKolumny {
    width: 200px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden; } }
@media screen and (min-width: 1121px) {
  .miniKolumny {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    column-gap: 2px;
    -moz-column-gap: 2px;
    -webkit-column-gap: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 800px;
    min-width: 500px; } }

/***
*  auto suggests
*/
.search-form .select2-arrow {
  display: none !important; }

@media screen and (min-height: 400px) {
  .select2-results {
    max-height: 300px; } }
@media screen and (min-height: 600px) {
  .select2-results {
    max-height: 500px; } }
@media screen and (min-height: 900px) {
  .select2-results {
    max-height: 800px; } }
.select2-search-choice-close {
  left: auto !important;
  top: 3px !important; }

.select2-container-multi .select2-choices {
  border-radius: 3 0 0 3 !important; }
  .select2-container-multi .select2-choices .select2-search-choice {
    margin: 5px 0 2px 5px;
    padding-left: 5px;
    padding-right: 18px; }
  .select2-container-multi .select2-choices .select2-search-field input {
    font-family: inherit;
    padding: 6px 12px;
    margin: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.select2-container {
  border: 0px !important; }

@media screen and (max-width: 991px) {
  .kolumny {
    max-height: 500;
    overflow-y: auto;
    overflow-x: hidden; } }
@media screen and (min-width: 992px) {
  .kolumny {
    max-width: 600px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    column-gap: 2px;
    -moz-column-gap: 2px;
    -webkit-column-gap: 2px;
    overflow-y: auto;
    overflow-x: hidden; } }

@media screen and (max-width: 1120px) {
  .miniKolumny {
    width: 200px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden; } }
@media screen and (min-width: 1121px) {
  .miniKolumny {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    column-gap: 2px;
    -moz-column-gap: 2px;
    -webkit-column-gap: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 800px;
    min-width: 500px; } }

.select2-results {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  column-gap: 2px;
  -moz-column-gap: 2px;
  -webkit-column-gap: 2px; }
  .select2-results .initials {
    font-weight: bold; }
  .select2-results .source {
    float: right;
    font-style: italic; }
  .select2-results .features {
    float: right;
    margin-right: 5px;
    padding: 0 2;
    font-weight: bold; }
  .select2-results .glyphicon-plus {
    font-size: 90%; }

.select-meanings {
  cursor: hand !important;
  background: #dc9543;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=lighten($color, $optionStartGradient), endColorstr=lighten($color, $optionEndGradient));
  /* for IE */
  background-image: -webkit-linear-gradient(left, #dc9543, #e4ad6e) !important;
  background: -moz-linear-gradient(left, #dc9543, #e4ad6e);
  /* for firefox 3.6+ */ }

.select-version {
  cursor: hand !important;
  background: #cd8c8e;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=lighten($color, $optionStartGradient), endColorstr=lighten($color, $optionEndGradient));
  /* for IE */
  background-image: -webkit-linear-gradient(left, #cd8c8e, #dcb0b1) !important;
  background: -moz-linear-gradient(left, #cd8c8e, #dcb0b1);
  /* for firefox 3.6+ */ }

.select-reference {
  cursor: hand !important;
  background: #a4cba4;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=lighten($color, $optionStartGradient), endColorstr=lighten($color, $optionEndGradient));
  /* for IE */
  background-image: -webkit-linear-gradient(left, #a4cba4, #c4dec4) !important;
  background: -moz-linear-gradient(left, #a4cba4, #c4dec4);
  /* for firefox 3.6+ */ }

.select-subject {
  cursor: hand !important;
  background: #e2b9bd;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=lighten($color, $optionStartGradient), endColorstr=lighten($color, $optionEndGradient));
  /* for IE */
  background-image: -webkit-linear-gradient(left, #e2b9bd, #f1dddf) !important;
  background: -moz-linear-gradient(left, #e2b9bd, #f1dddf);
  /* for firefox 3.6+ */ }

.select-text {
  cursor: hand !important;
  background: #bfdeff;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=lighten($color, $optionStartGradient), endColorstr=lighten($color, $optionEndGradient));
  /* for IE */
  background-image: -webkit-linear-gradient(left, #bfdeff, #f2f8ff) !important;
  background: -moz-linear-gradient(left, #bfdeff, #f2f8ff);
  /* for firefox 3.6+ */ }

.select-greek {
  cursor: hand !important;
  background: #b6aba8;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=lighten($color, $optionStartGradient), endColorstr=lighten($color, $optionEndGradient));
  /* for IE */
  background-image: -webkit-linear-gradient(left, #b6aba8, #cdc6c4) !important;
  background: -moz-linear-gradient(left, #b6aba8, #cdc6c4);
  /* for firefox 3.6+ */ }

.select-greekMeanings {
  cursor: hand !important;
  background: #a8a7a9;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=lighten($color, $optionStartGradient), endColorstr=lighten($color, $optionEndGradient));
  /* for IE */
  background-image: -webkit-linear-gradient(left, #a8a7a9, #c2c1c2) !important;
  background: -moz-linear-gradient(left, #a8a7a9, #c2c1c2);
  /* for firefox 3.6+ */ }

.select-hebrew {
  cursor: hand !important;
  background: #8e9dbc;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=lighten($color, $optionStartGradient), endColorstr=lighten($color, $optionEndGradient));
  /* for IE */
  background-image: -webkit-linear-gradient(left, #8e9dbc, #aeb9cf) !important;
  background: -moz-linear-gradient(left, #8e9dbc, #aeb9cf);
  /* for firefox 3.6+ */ }

.select-hebrewMeanings {
  cursor: hand !important;
  background: #9f798b;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=lighten($color, $optionStartGradient), endColorstr=lighten($color, $optionEndGradient));
  /* for IE */
  background-image: -webkit-linear-gradient(left, #9f798b, #b596a4) !important;
  background: -moz-linear-gradient(left, #9f798b, #b596a4);
  /* for firefox 3.6+ */ }

.select-topicref {
  cursor: hand !important;
  background: #ef7ad0;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=lighten($color, $optionStartGradient), endColorstr=lighten($color, $optionEndGradient));
  /* for IE */
  background-image: -webkit-linear-gradient(left, #ef7ad0, #f4a8e0) !important;
  background: -moz-linear-gradient(left, #ef7ad0, #f4a8e0);
  /* for firefox 3.6+ */ }

@media screen and (min-width: 768px) {
  .select2-drop-multi ul {
    margin: 0px; }
    .select2-drop-multi ul li {
      display: inline-block;
      border-bottom: solid 1 lightgrey;
      width: 100%; }
    .select2-drop-multi ul .message {
      float: right;
      margin: 2px 3px 0 0;
      font-size: 90%; } }
.searchLabel a {
  font-size: 90%;
  padding: 2px;
  border-radius: 3 3 3 3 !important;
  cursor: hand; }

.infoIcon {
  position: absolute;
  left: 50%;
  text-align: center;
  top: 10px;
  margin-left: -3px;
  font-size: 120%;
  display: none;
  color: #a9d3ff; }
  .infoIcon .warning {
    color: orange; }
  .infoIcon .danger {
    color: red; }

.passageOptionsGroup {
  height: 20px;
  position: absolute;
  right: 10; }
  .passageOptionsGroup button span {
    line-height: 1; }
    .passageOptionsGroup button span.smallerFont {
      font-size: 8px;
      line-height: 12px; }
    .passageOptionsGroup button span.largerFont {
      font-weight: bold; }
  .passageOptionsGroup .dropdown-menu {
    padding-left: 5px; }
  .passageOptionsGroup .glyphicon.glyphicon-save {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg); }
  .passageOptionsGroup ul {
    padding-left: 5px;
    margin-bottom: 0px; }
  .passageOptionsGroup .settingsDropdown li {
    padding-right: 5px; }
    .passageOptionsGroup .settingsDropdown li:hover {
      background-color: #ebebf1; }
    .passageOptionsGroup .settingsDropdown li.contextContainer button {
      padding: 5px 7px; }
    .passageOptionsGroup .settingsDropdown li.contextContainer:hover {
      background-color: inherit; }
    .passageOptionsGroup .settingsDropdown li.noHighlight {
      padding-bottom: 10px; }
      .passageOptionsGroup .settingsDropdown li.noHighlight:hover {
        background-color: inherit; }
        .passageOptionsGroup .settingsDropdown li.noHighlight:hover .btn-group {
          margin-left: 10px; }
  .passageOptionsGroup a {
    color: black;
    display: block; }
    .passageOptionsGroup a:hover {
      text-decoration: none; }
  .passageOptionsGroup h1 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 3px; }
  .passageOptionsGroup .nested-btn-group {
    float: left;
    margin-left: -1px; }
  .passageOptionsGroup .passageOptions, .passageOptionsGroup .displayModes {
    direction: ltr;
    text-align: left; }

.passageContainer.waiting {
  background-position: 50.5% 5; }

.passageContentHolder {
  text-align: justify; }
  .passageContentHolder table {
    width: 85%;
    display: inline; }
    .passageContentHolder table tr.row:before, .passageContentHolder table tr.row:after {
      display: none; }
    .passageContentHolder table th {
      border: none !important; }
  .passageContentHolder td {
    font-size: 12px; }
    .passageContentHolder td.x-end-row {
      vertical-align: bottom;
      text-align: right; }
  .passageContentHolder h2 {
    margin-bottom: 5px; }
    .passageContentHolder h2.xgen {
      margin-top: 0px;
      text-align: left; }
    .passageContentHolder h2.sub {
      font-size: 90%; }
  .passageContentHolder .paragraph {
    margin-top: 8px;
    content: ' ';
    display: block; }
  .passageContentHolder .endLineGroup, .passageContentHolder .startLineGroup {
    content: ' ';
    display: block;
    margin-bottom: 4px; }
  .passageContentHolder .startLineGroup {
    padding-top: 8px; }
  .passageContentHolder h2 + br, .passageContentHolder .startLineGroup + br, .passageContentHolder .startLineGroup + br + .level1, .passageContentHolder h2 + br + span + br, .passageContentHolder br + .paragraph + br {
    display: none; }
  .passageContentHolder a + br + .level1 {
    margin-right: -10px; }
  .passageContentHolder span.level1 {
    margin-top: 8px;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px; }
  .passageContentHolder span.level2 {
    padding-left: 30px; }
  .passageContentHolder span.level3 {
    padding-left: 50px; }
  .passageContentHolder span.level4 {
    padding-left: 70px; }
  .passageContentHolder span.level1, .passageContentHolder span.level2, .passageContentHolder span.level3, .passageContentHolder span.level4 {
    content: ' '; }
  .passageContentHolder br + br {
    display: none; }
  .passageContentHolder .notesPane {
    text-align: left; }
  .passageContentHolder .verse.containsTable {
    text-align: left; }
  .passageContentHolder p.x-continued {
    margin-bottom: 0px; }
  .passageContentHolder .verseLink + .x-min-width {
    margin-left: 2px; }
  .passageContentHolder div.x-min-width {
    width: 60%;
    display: inline-block;
    margin-left: 15px; }
  .passageContentHolder .small-caps {
    font-size: 110%; }
    .passageContentHolder .small-caps > em.foreign, .passageContentHolder .small-caps > .x-inscription {
      text-align: center;
      display: block;
      margin-bottom: -20px; }
  .passageContentHolder .x-p-inscription {
    font-size: 110%;
    text-align: center;
    display: block;
    font-variant: small-caps; }
  .passageContentHolder .x-doxology {
    display: block;
    text-align: center; }

.verseNumber {
  min-width: 10px;
  vertical-align: top;
  font-size: 6pt;
  cursor: hand;
  background-color: #f3e5b4;
  color: #991c32;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  margin-right: 2px; }

h3.psalmHeading {
  font-size: 14px;
  margin: 0px; }

h3.canonicalHeading {
  font-size: 12px; }

h2.heading + .startLineGroup {
  padding-top: 0px; }
h2.heading.x-proverbs {
  font-size: 120%;
  text-align: center; }
h2.heading.x-speaker {
  margin-bottom: 0; }
h2.heading.x-acrostic {
  margin-left: 10px; }

.verseGrouping {
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  padding-bottom: 5px; }
  .verseGrouping * .smallResultKey {
    margin-right: 10px;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .verseGrouping * p {
    margin-left: 5px;
    display: inline; }

.searchResultRow .passageContentHolder {
  height: initial !important; }
.searchResultRow .verse {
  vertical-align: middle; }
.searchResultRow p {
  display: inline;
  font-style: italic;
  margin: 0px 5px 0px 5px; }
  .searchResultRow p:before {
    content: "/"; }
.searchResultRow .verseNumber {
  vertical-align: middle; }
.searchResultRow br, .searchResultRow .startLineGroup, .searchResultRow .paragraph {
  display: none; }
.searchResultRow span.level1, .searchResultRow span.level2, .searchResultRow span.level3, .searchResultRow span.level4 {
  padding: 0px;
  margin: 0px; }
  .searchResultRow span.level1:before, .searchResultRow span.level2:before, .searchResultRow span.level3:before, .searchResultRow span.level4:before {
    content: ' / '; }
.searchResultRow table tr.row:before, .searchResultRow table tr.row:after {
  display: none; }

h4.lexicalGrouping {
  font-size: 12px; }
  h4.lexicalGrouping .glyphicon {
    margin-right: 10px; }

.originalWordSearchToolbar {
  clear: both;
  padding-top: 5px; }
  .originalWordSearchToolbar .panel-body {
    padding: 5px; }
  .originalWordSearchToolbar ul {
    padding: 0px;
    list-style: none;
    margin-bottom: 0px; }
  .originalWordSearchToolbar li {
    padding: 0px; }
  .originalWordSearchToolbar label {
    margin: 0px;
    font-weight: normal; }

.subjectToolbar input[type='radio'] {
  vertical-align: text-bottom; }
.subjectToolbar label {
  padding-right: 20px;
  padding-left: 5px; }

.verseContent .passageContentHolder {
  height: initial !important; }

.resultsLabel {
  font-style: italic;
  margin-right: 15px;
  margin-top: 3; }

.examplesContainer {
  overflow-y: scroll;
  overflow-x: hidden; }
  .examplesContainer h1 {
    font-size: 13px;
    text-align: center;
    margin: 0px; }
  .examplesContainer h2 {
    font-size: 12px;
    text-align: center;
    margin: 0px; }
  .examplesContainer h4 {
    margin-top: 15px;
    font-size: 12px;
    display: inline; }
  .examplesContainer .step-copyright {
    font-size: smaller;
    text-align: center; }

.examples {
  display: block; }

.find {
  text-shadow: none; }

.mainPanel {
  min-height: 100%;
  height: 100%;
  margin: 0 auto; }

#columnHolder {
  overflow-y: hidden;
  padding: 4px; }
  #columnHolder hr {
    border: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin: 0px 20px 5px; }
  #columnHolder .column {
    height: 100%;
    padding: 0px 2px; }
    #columnHolder .column .passageContent {
      height: 100%;
      padding-bottom: 35px; }
      #columnHolder .column .passageContent > span {
        height: 100%;
        padding-bottom: 35px;
        display: block;
        overflow-y: auto; }
    #columnHolder .column .passageContentHolder {
      overflow-y: auto;
      height: 100%; }
    #columnHolder .column .passageContainer {
      border: 2px solid lightgrey;
      padding: 5px;
      border-radius: 3;
      height: 100%;
      -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175);
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175); }
      #columnHolder .column .passageContainer.active {
        border-color: #d74f4b; }
      #columnHolder .column .passageContainer .activeMarker {
        position: absolute;
        top: 2px;
        left: 50%;
        border-color: #d74f4b;
        border-top: 4px solid #d74f4b;
        border-right: 4px solid transparent;
        border-bottom: 0 dotted;
        border-left: 4px solid transparent; }
      #columnHolder .column .passageContainer .glyphicon-link {
        margin-left: -10px;
        top: 50%;
        left: 0;
        font-size: 150%;
        position: absolute;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg); }
        #columnHolder .column .passageContainer .glyphicon-link:hover {
          color: gray; }

@media (min-width: 768px) {
  .col-sm-5columns, .col-sm-7columns, .col-sm-8columns, .col-sm-9columns, .col-sm-10columns, .col-sm-11columns {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left; }

  .col-sm-5columns {
    width: 19.75%; }

  .col-sm-7columns {
    width: 14.03571%; }

  .col-sm-8columns {
    width: 12.25%; }

  .col-sm-9columns {
    width: 10.86111%; }

  .col-sm-10columns {
    width: 9.75%; }

  .col-sm-11columns {
    width: 8.84091%; } }
.modal {
  z-index: 10002; }

.modal-backdrop.in {
  z-index: 10001; }

.qtip-titlebar {
  margin-top: -1px; }
  .qtip-titlebar .close {
    line-height: 12px;
    margin: 2 5 -2 0;
    font-size: 18px; }

#bibleVersions .modal-body {
  padding: 5px; }
#bibleVersions .modal-footer {
  padding: 10px 20px 10px 0px; }
  #bibleVersions .modal-footer .tagLine {
    float: left;
    padding-top: 10px;
    color: lightgrey;
    font-style: italic; }
#bibleVersions span.form-group {
  margin-left: 3px; }
#bibleVersions .list-group-item {
  padding: 2px; }
#bibleVersions .list-group {
  margin-bottom: 5px; }
#bibleVersions .tab-pane {
  overflow-y: scroll;
  padding: 2px; }
#bibleVersions h1 {
  font-size: 10pt;
  margin: 0px 0px 4px; }
#bibleVersions .closeModal label {
  margin-bottom: 0px; }
#bibleVersions li.list-group-item {
  cursor: hand; }
  #bibleVersions li.list-group-item a.glyphicon-info-sign {
    margin-right: 5px; }
    #bibleVersions li.list-group-item a.glyphicon-info-sign:hover {
      text-decoration: none; }
  #bibleVersions li.list-group-item.active {
    color: white; }
    #bibleVersions li.list-group-item.active a {
      color: white; }
@media screen and (min-height: 400px) {
  #bibleVersions .tab-pane {
    max-height: 200px; } }
@media screen and (min-height: 600px) {
  #bibleVersions .tab-pane {
    max-height: 400px; } }
@media screen and (min-height: 900px) {
  #bibleVersions .tab-pane {
    max-height: 700px; } }

#advancedSearch button.closeModal, #advancedSearch button.closeAndAdd {
  margin-left: 10px;
  margin-top: 20px;
  font-size: 100%; }
  #advancedSearch button.closeModal label, #advancedSearch button.closeAndAdd label {
    margin-bottom: 0px;
    margin-right: 0; }
#advancedSearch form {
  padding: 5px; }
  #advancedSearch form label {
    margin-right: 5px; }
  #advancedSearch form .col-sm-1, #advancedSearch form .col-sm-2, #advancedSearch form .col-sm-3, #advancedSearch form .col-sm-4, #advancedSearch form .col-sm-5, #advancedSearch form .col-sm-6 {
    margin-top: 5px; }
  #advancedSearch form input, #advancedSearch form select {
    padding: 2px;
    width: 100% !important; }
    #advancedSearch form input.join, #advancedSearch form select.join {
      max-width: 100px;
      float: right; }
#advancedSearch .footerContainer {
  text-align: right; }
@media screen and (min-height: 400px) {
  #advancedSearch .tab-pane {
    max-height: 200px; } }
@media screen and (min-height: 600px) {
  #advancedSearch .tab-pane {
    max-height: 400px; } }
@media screen and (min-height: 900px) {
  #advancedSearch .tab-pane {
    max-height: 700px; } }
#advancedSearch .modal-dialog {
  width: 90%; }
#advancedSearch .nav-tabs {
  border-bottom: none; }
  #advancedSearch .nav-tabs > li > a {
    background-color: #e6e6e6; }
    #advancedSearch .nav-tabs > li > a:hover {
      background-color: f4f4f4; }
  #advancedSearch .nav-tabs > li.active > a {
    background-color: #fff; }
#advancedSearch .modal-content {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  #advancedSearch .modal-content .tab-content {
    border-radius: 0 6 6 6;
    background-color: white;
    padding: 0px;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); }

.modalVerseComplete {
  z-index: 99999999; }

#subjectByRef .dropdown-menu {
  margin-top: -3px; }
@media screen and (min-height: 400px) {
  #subjectByRef .kolumnyRefs {
    max-height: 100px; } }
@media screen and (min-height: 600px) {
  #subjectByRef .kolumnyRefs {
    max-height: 300px; } }
@media screen and (min-height: 900px) {
  #subjectByRef .kolumnyRefs {
    max-height: 600px; } }
#subjectByRef .kolumnyRefs {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0; }

#querySyntax textarea {
  width: 100%;
  min-height: 100px;
  margin-bottom: 5px; }

#advancedTextSearch button.addRow {
  margin: 0 0 15 25;
  padding: 2 3 4 4; }
  #advancedTextSearch button.addRow.label {
    margin: 0 0 2 2; }
#advancedTextSearch textarea {
  cursor: auto;
  float: left;
  margin-left: 10px;
  width: 50%; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px; }

::-webkit-scrollbar-track {
  border-width: 0; }

::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px; }

::-webkit-scrollbar-button {
  height: 0;
  width: 0; }

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px; }

::-webkit-scrollbar-track:horizontal {
  border-width: 4px 0 0; }

::-webkit-scrollbar-track:hover {
  background-color: rgba(153, 28, 50, 0.05);
  box-shadow: inset 1px 0 0 rgba(153, 28, 50, 0.1); }

::-webkit-scrollbar-track:horizontal:hover {
  box-shadow: inset 0 1px 0 rgba(153, 28, 50, 0.1); }

::-webkit-scrollbar-track:active {
  background-color: rgba(153, 28, 50, 0.05);
  box-shadow: inset 1px 0 0 rgba(153, 28, 50, 0.14), inset -1px 0 0 rgba(153, 28, 50, 0.07); }

::-webkit-scrollbar-track:horizontal:active {
  box-shadow: inset 0 1px 0 rgba(153, 28, 50, 0.14), inset 0 -1px 0 rgba(220, 172, 0, 0.07); }

::-webkit-scrollbar-thumb {
  background-color: rgba(153, 28, 50, 0.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(153, 28, 50, 0.2), inset 0 -1px 0 rgba(153, 28, 50, 0.07); }

::-webkit-scrollbar-thumb:horizontal {
  border-width: 6px 1px 1px;
  padding: 0 0 0 100px;
  box-shadow: inset 1px 1px 0 rgba(153, 28, 50, 0.9), inset -1px 0 0 rgba(153, 28, 50, 0.93); }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(153, 28, 50, 0.4);
  box-shadow: inset 1px 1px 1px rgba(153, 28, 50, 0.25); }

::-webkit-scrollbar-thumb:active {
  background-color: rgba(153, 28, 50, 0.5);
  box-shadow: inset 1px 1px 3px rgba(153, 28, 50, 0.35); }

::-webkit-scrollbar-track {
  border-width: 0 1px 0 6px; }

::-webkit-scrollbar-track:horizontal {
  border-width: 6px 0 1px; }

::-webkit-scrollbar-track:hover {
  background-color: rgba(153, 28, 50, 0.035);
  box-shadow: inset 1px 1px 0 rgba(153, 28, 50, 0.14), inset -1px -1px 0 rgba(153, 28, 50, 0.07); }

::-webkit-scrollbar-thumb {
  border-width: 0 1px 0 6px; }

::-webkit-scrollbar-thumb:horizontal {
  border-width: 6px 0 1px; }

::-webkit-scrollbar-corner {
  background: transparent; }

body::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  background-color: #f5f5f5;
  border: solid #fff;
  border-width: 0 0 0 3px;
  box-shadow: inset 1px 0 0 rgba(153, 28, 50, 0.14), inset -1px 0 0 rgba(153, 28, 50, 0.07); }

body::-webkit-scrollbar-track-piece:horizontal {
  border-width: 3px 0 0;
  box-shadow: inset 0 1px 0 rgba(153, 28, 50, 0.14), inset 0 -1px 0 rgba(153, 28, 50, 0.07); }

body::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 5px; }

body::-webkit-scrollbar-thumb:horizontal {
  border-width: 5px 1px 1px; }

body::-webkit-scrollbar-corner {
  background-clip: padding-box;
  background-color: #f5f5f5;
  border: solid #fff;
  border-width: 3px 0 0 3px;
  box-shadow: inset 1px 1px 0 rgba(153, 28, 50, 0.14); }

#sidebar {
  display: none;
  padding: 4px; }
  #sidebar > div {
    border-left: 1px solid lightgrey;
    padding-left: 5px;
    height: 100%; }

.active #sidebar {
  display: block; }

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }
    .row-offcanvas .sidebar-offcanvas {
      right: -75%;
      top: 40px; }
    .row-offcanvas.active {
      right: 75%; }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 75%; } }
@media screen and (min-width: 768px) {
  #columnHolder {
    width: 100%; }

  #columnHolder, #sidebar {
    position: relative;
    min-height: 1px;
    float: left; }

  .active #columnHolder {
    width: 79.16667%; }

  .active #sidebar {
    width: 20.83333%;
    overflow-y: scroll;
    height: 100%;
    padding-right: 0px; } }
#sidebar > ul > li {
  text-align: center; }
  #sidebar > ul > li.closeSidebar {
    float: right; }
  #sidebar > ul > li.active a {
    color: #991c32; }
  #sidebar > ul > li a {
    color: black;
    padding: 2 5 2 5; }
    #sidebar > ul > li a.stepglyph-help {
      font-weight: bold; }

#lexicon h1 {
  font-size: 16px;
  margin-bottom: 0px; }
#lexicon h2 {
  font-size: 12px;
  margin-bottom: 0px; }
#lexicon ul {
  padding-left: 20px; }

#animateWordle {
  font-size: 70%;
  padding-bottom: 4px; }

.scopeContainer {
  margin-top: 5px;
  border-bottom: lightgrey solid 1px;
  padding: 5px; }

#statsContainer {
  line-height: 1; }

#wordScope input {
  width: 90%; }
#wordScope a {
  padding-left: 5px;
  cursor: pointer; }

#history .list-group-item {
  border: none;
  padding: 1px 0px;
  line-height: 18pt; }
  #history .list-group-item a {
    padding: 0px; }
#history .glyphicon {
  font-size: 12pt;
  line-height: 12pt;
  vertical-align: text-bottom;
  padding: 0px;
  margin: 0 5px 0 0; }
  #history .glyphicon:hover {
    color: #991c32;
    cursor: hand; }
  #history .glyphicon.glyphicon-open {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }
  #history .glyphicon.glyphicon-pushpin:hover {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg); }
  #history .glyphicon.glyphicon-pushpin-pinned {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg); }
    #history .glyphicon.glyphicon-pushpin-pinned:before {
      content: "\e146"; }
    #history .glyphicon.glyphicon-pushpin-pinned:hover {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg); }
#history h3 {
  font-size: 13px;
  margin: 0 0 5 0;
  padding: 5 0 0 0; }

.argSelect {
  white-space: nowrap;
  padding: 3px 5px 3px 3px;
  cursor: default;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); }

#help {
  margin-top: 5px; }

.versePopup {
  max-width: 600px !important; }
  .versePopup .heading {
    padding: 0px; }
  .versePopup a {
    font-size: 12px;
    white-space: nowrap;
    padding: 0px; }
  .versePopup h1 {
    font-size: 12px;
    white-space: nowrap;
    margin: 0px; }
  .versePopup .verseVocabLinks {
    display: block;
    clear: both;
    padding-top: 15px; }
    .versePopup .verseVocabLinks a {
      margin-right: 15px; }

#errorContainer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  max-width: 500px;
  z-index: 10000; }
  #errorContainer button {
    margin-left: 10px; }

#aboutLogo {
  float: left;
  margin-right: 20px; }

.aboutModal .modal-header {
  padding: 5 5; }
.aboutModal .modal-body {
  clear: left;
  margin-top: 15px; }
.aboutModal .footer {
  text-align: right; }
  .aboutModal .footer button {
    padding: 5px; }
    .aboutModal .footer button label {
      margin-bottom: 0px; }

.unicodeFont {
  font-family: Cardo;
  font-size: 140%; }

td.unicodeFont {
  font-size: 100%; }

.unicodeFontMini {
  font-family: Cardo;
  font-size: 110%; }

.copticFont {
  font-family: Conv_newathu405;
  font-size: 130%; }

.syriacFont {
  font-family: SyrCOMEdessa;
  font-size: 170%; }

.burmeseFont {
  font-family: Padauk;
  font-size: 150%; }

.arabicFont {
  font-family: DroidKufi;
  line-height: 1.7; }

.chineseFont {
  font-size: 120%;
  line-height: 1.4; }

.khmerFont {
  font-family: KhmerBusra;
  font-size: 150%; }

.hbFont, .hbFontSmall, .hbFontMini {
  font-family: SIL_EZRA;
  font-size: 180%; }

td.hbFont, td.hbFontSmall, td.hbFontMini {
  font-size: 120%; }

.hbFontSmall, .hbFontMini {
  font-weight: normal; }

.hbFontMini {
  font-size: 130%; }

td.copticFont, td.syriacFont, td.burmeseFont, td.arabicFont, td.chineseFont, td.khmerFont {
  font-size: 100%; }

.emphasisePassagePhrase {
  background-color: #F3E5B4; }

.relatedWordEmphasis {
  text-decoration: underline; }

.relatedWordEmphasisHover {
  text-decoration: underline; }

.primaryLightBg {
  background-color: #ebebf1 !important; }

.secondaryBackground {
  background-color: #F3E5B4; }

.segC0 {
  color: #33339F; }

.segC1 {
  color: black; }

#quickLexicon {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 0 0;
  padding: 0 4 2 4;
  width: 100%; }
  #quickLexicon > div {
    background-color: #ebebf1;
    padding: 5 5 5 5; }
  #quickLexicon h1 {
    display: inline;
    clear: left; }
  #quickLexicon .infoTagLine {
    font-size: xx-small;
    text-align: right;
    display: block; }

#raiseSupportTrigger {
  z-index: 10;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 3 0 0 0; }

#raiseSupport .modal-body {
  padding: 20 20 0 20; }

.mandatory {
  color: #991c32;
  font-weight: bold; }
