$header_height: 50px;
$summaryHeight: 25px;
$topSectionPadding: 5px;
$topSectionMarginBottom: 5px;
$topSectionHeight: $topSectionPadding + $topSectionMarginBottom + $summaryHeight;
$searchDropdownHeight: 300px;
$header_title: lightgrey;

//grid points
$gridPoints: 12;
$stepXS: 767px;
$stepXSBootstrap: $stepXS + 1;
$stepMD: 991px;
$stepLG: 1120px;

// colours
//active colour of panel
$activeColor: #D14A4A;
$topHeaderLinkColour: lightgrey;
$dividerColor: $topHeaderLinkColour;
$warningColour: orange;
$infoColour: #a9d3ff;
$disabledColour: darkgrey;
$linkColour: #26539e;

// scrollbar colours
$headerBackgroundColor: black;
$scrollColor: #822433;
$scrollTrack: lighten($scrollColor, 0.05);
$scrollTrackHover: lighten($scrollColor, 0.20);
$scrollTrackActive: lighten($scrollColor, 0.35);
$scrollTrackBox: lighten($scrollColor, 0.1);
$scrollTrackBoxActive: lighten($scrollColor, 0.14);
$scrollTrackThumbShadow: lighten($scrollColor, 0.07);

// colours in dropdown
$activeTabColour: #cd4848;
$headingColour: #111;
$quickLexiconColour: #822433;
$quickLexiconFontColour: white;
$quickLexiconRelatedFontColour: black;
$hoverColor: $quickLexiconColour;
$secondaryHoverColour: #ddd;
$lexiconFocusColour: lightgrey;
$lexiconFocusRelatedColour: #E8E8E8;
$hoverColorText: white;
$verseNumberBackground: #eee;
$inactiveTabColor: black;

$bibleRow: #631427;
$subjectRow: #361463;
$meaningsRow: #635314;
$greekRow: #0A352B;
$greekMeaningsRow: #146350;
$hebrewRow: #0B1135;
$hebrewMeaningsRow: #142263;
$exactForm: #bbbb00;
$textRow: #200A35;
$topicByRefRow: #361463;
$referenceRow: #340B15;
$optionStartGradient: 0%;
$optionEndGradient: 20%;

// Sizes and grid break points
$smallSidebarSize: 75%;
$sidebarOverlayMax: $stepXS;
$sidebarWidth: 2.75;
$defaultSidebarSize: 100% / $gridPoints * $sidebarWidth;
$defaultColumnsSize: 100% - $defaultSidebarSize;

//various paddings
$paddingFromHeader: 4px;
$defaultFontSize: 12px;
$defaultFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$activeBorderWidth: 2px;