$header_height: 40px;
$summaryHeight: 25px;
$topSectionPadding: 5px;
$topSectionMarginBottom: 5px;
$topSectionHeight: $topSectionPadding + $topSectionMarginBottom + $summaryHeight;
$searchDropdownHeight: 300px;
$header_title: lightgrey;

//grid points
$gridPoints: 12;
$stepXS: 767px;
$stepXSBootstrap: $stepXS + 1;
$stepMD: 991px;
$stepLG: 1120px;

// colours
//active colour of panel
$activeColor: #D14A4A;
$topHeaderLinkColour: lightgrey;
$dividerColor: $topHeaderLinkColour;
$warningColour: orange;
$infoColour: #a9d3ff;
$disabledColour: darkgrey;
$linkColour: #26539e;

// scrollbar colours
$headerBackgroundColor: black;
$scrollColor: #991C32;
$scrollTrack: lighten($scrollColor, 0.05);
$scrollTrackHover: lighten($scrollColor, 0.25);
$scrollTrackActive: lighten($scrollColor, 0.35);
$scrollTrackBox: lighten($scrollColor, 0.1);
$scrollTrackBoxActive: lighten($scrollColor, 0.14);
$scrollTrackThumbShadow: lighten($scrollColor, 0.07);

// colours in dropdown
$activeTabColour: #cd4848;
$headingColour: #111;
$quickLexiconColour: #c12e2a;
$quickLexiconFontColour: white;
$quickLexiconRelatedFontColour: black;
$hoverColor: $quickLexiconColour;
$lexiconFocusColour: lightgrey;
$lexiconFocusRelatedColour: lighten($lexiconFocusColour, 10%);
$hoverColorText: white;
$verseNumberBackground: #eee;
$inactiveTabColor: black;

$bibleRow: #A94A4C;
$subjectRow: #C5707A;
$textRow: #59a9ff;
$meaningsRow: #9c611d;
$greekRow: #877671;
$greekMeaningsRow: #757476;
$hebrewRow: #55688F;
$hebrewMeaningsRow: #684A58;
$exactForm: #bbbb00;
$topicByRefRow: #e41faf;
$referenceRow: #63a663;
$optionStartGradient: 20%;
$optionEndGradient: 30%; 

// Sizes and grid break points
$smallSidebarSize: 75%;
$sidebarOverlayMax: $stepXS;
$sidebarWidth: 2.75;
$defaultSidebarSize: 100% / $gridPoints * $sidebarWidth;
$defaultColumnsSize: 100% - $defaultSidebarSize;

//various paddings
$paddingFromHeader: 4px;
$defaultFontSize: 12px;
$defaultFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$activeBorderWidth: 2px;