$header_height: 50px;
$summaryHeight: 25px;
$topSectionPadding: 5px;
$topSectionMarginBottom: 5px;
$topSectionHeight: $topSectionPadding + $topSectionMarginBottom + $summaryHeight;
$searchDropdownHeight: 300px;
$header_title: lightgrey;

//grid points
$gridPoints: 12;
$stepXS: 767px;
$stepXSBootstrap: $stepXS + 1;
$stepMD: 991px;
$stepLG: 1120px;

// colours
$brand-primary: #17758F;
$brand-secondary: #9D0025;
$text-color: #5D5D5D;
$text-color: var(--clrTextColor);
$border-color: #C8C8C8;
$border-color: var(--clrHighlightBg);

$highlight-color: $brand-primary;

// lexicon
$quickLexiconFontColour: white;
$quickLexiconRelatedFontColour: black;
$strong-color: lighten(desaturate($highlight-color, 40%), 10%);  // 38626e 498090
$clrLexiconFocusBG: lighten(desaturate($highlight-color, 50%), 50%); // 405d65 c8d8dc
$lexiconFocusRelatedColour: #e0e0e0;

//active colour of panel
$header-background-color: #F2F2F2;
$header-background-color: var(--clrBackground);
$topHeaderLinkColour: #5E5E5E;
$topHeaderLinkColour: var(--clrTextColor);
$dividerColor: $topHeaderLinkColour;
$warningColour: orange;
$infoColour: #a9d3ff;
$disabledColour: darkgrey;
$link-color: $highlight-color;
$link-color: var(--clrHighlight);
$activeColor: $highlight-color;
$activeColor: var(--clrHighlight);

// colours in dropdown
$inactive-tab-color: $text-color;
$active-tab-color: $highlight-color;
$active-tab-color: var(--clrHighlight);
$headingColour: #111;

$hoverColor: $highlight-color;
$hoverColor: var(--clrHighlight);
$secondaryHoverColour: #d3d3d3; // for IE
$secondaryHoverColour: var(--clr2ndHover);
$hoverColorText: white;
$verseNumberBackground: #eee;

$bibleRow: #963535;
$subjectRow: #5B468A;
$meaningsRow: #DCBD30;
$greekRow: #3B9B89;
$greekMeaningsRow: #3B9B89;
$hebrewRow: #46598A;
$hebrewMeaningsRow: #46598A;
$exactForm: #3F3207;
$textRow: #8A467B;
$topicByRefRow: #4C1D8E;
$referenceRow: #AA1B41;
$optionStartGradient: 0%;
$optionEndGradient: 20%;

// Sizes and grid break points
$smallSidebarSize: 75%;
$sidebarOverlayMax: $stepXS;
$sidebarWidth: 2.75;
$defaultSidebarSize: 100% / $gridPoints * $sidebarWidth;
$defaultColumnsSize: 100% - $defaultSidebarSize;

// spacing
$page-padding: 15px;
$paddingFromHeader: 4px;
$defaultFontSize: 12px;
$defaultFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$border-width: 1px;
$active-border-width: 2px;

// fonts
$font-family-primary: Georgia, serif;
$font-family-header: 'Helvetica Neue', Helvetica, Tahoma, sans-serif;

// font sizes
$panel-icon-size: 14px;
$chapter-title-size: 24px;
