@import 'template_variables';

div.versePopup.qtip-default.qtip {
  max-width: 650px !important;
  border:1px solid #666;
  border:1px solid var(--clrBackground);
  border-radius:5px;
  box-shadow:2px 2px 4px rgba(0,0,0,0.2);
  background-color: white;

  .qtip-tip canvas {
    background-color: #666;
    background-color: var(--clrBackground);
  }

  .heading {
    padding: 0 0 5 0;
  }
  a {
    font-size: $defaultFontSize;
    padding: 0px;
  }
  h1 {
    font-size: 12px;
    white-space: nowrap;
    margin: 0px;
  }
  .vocabTable {
    display: inline-table !important;
    overflow: auto;
    [data-strong] {
      white-space: nowrap;
      a {
        padding-bottom: 5px;
      }
    }
    @media screen and (min-width: $stepXSBootstrap) {
      .even {
        border-left: solid 1 lightgrey;
        padding-left: 20px;
      }
    }
    .definition {
      overflow: hidden;
    }
  }

  .verseVocabLinks {
    display: block;
    clear: both;
    margin-top:10px;
    padding-top:10px;
    border-top:1px dotted #ccc;
    a {
      margin-right: 10px;
      border-right: 1px dotted #ccc;
      padding-right: 10px;
      &:last-child {
        border-right: none
      }
    }
  }

}
