@import 'template_variables';

.versePopup {
  max-width: 650px !important;
  .heading {
    padding: 0 0 5 0;
  }
  a {
    font-size: $defaultFontSize;
    padding: 0px;
  }
  h1 {
    font-size: 12px;
    white-space: nowrap;
    margin: 0px;
  }
  .vocabTable {
    display: inline-table !important;
    overflow: auto;
    [data-strong] {
      white-space: nowrap;
      a {
        padding-bottom: 5px;
      }
    }
    .even {
      border-left: solid 1 lightgrey;
      padding-left: 20px;
    }
    .definition {
      overflow: hidden;
    }
  }

  .verseVocabLinks {
    display: block;
    clear: both;
    margin-top:10px;
    padding-top:10px;
    border-top:1px dotted #ccc;
    a {
      margin-right: 10px;
      border-right: 1px dotted #ccc;
      padding-right: 10px;
      &:last-child {
        border-right: none
      }
    }
  }

}
