@import 'template_variables';
@import 'mixins';

.infoIcon {
  position: absolute;
  left: 50%;
  text-align: center;
  
  top: 10px;
  font-size: 120%;
  display: none;
  z-index: 10;
}

.passageContainer {
  .popover {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    margin-top: 0px;

    .arrow {
      top: 2px;
    }
  }

  .popover-content {
    padding:15px;
    background-color: white;
    margin-top: 11px;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  }
}

