/******************************************************************************/
/* Common definitions. */
/******************************************************************************/

:root {
    /* System-wide definitions.  Should probably be picking these up from elsewhere. */
    --clrHighlight: #17758F;
    --clrHighlightBg: #17758F;
    --clrStrongText: #447888;
    --clrLexiconFocusBG: #c8d8dc;
    --clrRelatedWordBg: #b2e5f3;
    --clrBackground: #ffffff;
    --clrText: #5d5d5d;
    --clr2ndHover: #d3d3d3;
    --simulated-sidebar-width: 100%;


    --minimumSizeOfBigScreens: 960;

    
    /* Definitions common to framework applications. */
    --jframework-searchBoxBackgroundColor: #eef9fc; /* #c8e6c9; */
    
    --jframework-clrInfoAndPopUpBackground: rgb(255, 255, 192);
    --jframework-height-of-info-box: 200px;
    --jframework-clrMan: blue;
    --jframework-clrWoman: salmon;
    
    --jframework-popUpOverlayZIndex: 100;
    --jframework-popUpZIndex: 101;

    --jframework-clrHighlightLightBg: #eef9fc;
}
    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

        
body, html {
    height: 100%;
    width: 100%;
}


/* Clickable text. */
.jframework-clickable {
    color: var(--clrHighlight);
    cursor: pointer;
}

.jframework-standardText {
    font-family: Georgia, serif;
    font-size: 15px;
}


