/* Refactor font names to be abstracted away, since Cardo isn't really cardo!  */
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  src: local('GentiumPlus-R'), local('GentiumPlus-R'), src: url('../fonts/GenBasR.woff'); format('woff');
}

@font-face {
	font-family : "SIL_EZRA";
    src: url('../fonts/SILEOT.woff');
}

@font-face {
    font-family: 'Conv_newathu405';
    src: url('../fonts/newathu405.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SyrCOMEdessa';
    src: url('../fonts/SyrCOMEdessa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Padauk';
    src: url('../fonts/Padauk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}