@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  src: local('GentiumPlus-R'), local('GentiumPlus-R'), src: url('../fonts/GenBasR.woff'); format('woff');
}
/*@font-face {*/
  /*font-family: 'Cardo';*/
  /*font-style: italic;*/
  /*font-weight: 400;*/
  /*src: local('Cardo Italic'), local('Cardo-Italic'), url(../fonts/cardo-italic.woff) format('woff');*/
/*}*/

/*@font-face {*/
  /*font-family: 'Cardo';*/
  /*font-style: normal;*/
  /*font-weight: 700;*/
  /*src: local('Cardo Bold'), local('Cardo-Bold'), url(../fonts/cardo-bold.woff) format('woff');*/
/*}*/

@font-face {
    font-family : "SBL_Hbrw";
    src: url('../fonts/SBL_Hbrw.woff');
}

@font-face {
	font-family : "SIL_EZRA";
    src: url('../fonts/SILEOT.woff');
}

@font-face {
    font-family: 'Conv_newathu405';
    src: url('../fonts/newathu405.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
