.tg2  {border-collapse:collapse;border-spacing:0;border-color:#aaa;line-height: 1.5;display: block;overflow-x: auto;}
.tg2 td{font-family:Arial, sans-serif;font-size:12px;padding:10px 5px;border-style:solid;border-width:1px;overflow: hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
.tg2 .tg-amwm2{text-align:center; vertical-align:center; font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow: hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
.tg2 .tg-no-3-border2{ border-top: 1px solid white; border-left: 1px solid white; border-right: 1px solid white; }
.tg2 .tg-no-2-border2{ border-top: 1px solid white; border-left: 1px solid white; }
.tg2 .tg-e3zv2{text-align:center; vertical-align:center; font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow: hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.icon-not-highlighted {
  color: black;
}
.icon-highlighted {
  color: #34A7C1;
}
