.menuSectionStart {
	border-top: solid 1px white;
}


/* top menu */
.ddsmoothmenu {
	background-image: url('../images/background-header.png');
	background-repeat: repeat-y;
	background-position: right;
	background-color: #991C32; /*background of menu bar (default state)*/
	border-bottom: 1px solid white;
}

.ddsmoothmenu ul li a, .ddsmoothmenu ul li label {
	border-right: 1px solid white;
	color: white;
}


.ddsmoothmenu ul li ul li a {
	border-bottom: 1px solid white;
}

#leftPaneMenu {
	background-color: #991C32;
	background-image: none;
}

.ddsmoothmenu ul li ul li a.disabled {
	background-color: lightgrey;
	color: grey;
	font-style: italic;
}


.ddsmoothmenu ul li ul li a.disabled:hover {
	background-color: lightgrey;
	color: grey;
	font-style: italic;
}


.ddsmoothmenu {
	font-weight: bold;
	width: 100%;
}


.ddsmoothmenu ul {
	z-index: 100;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
}

/*Top level list items*/
.ddsmoothmenu ul li {
	position: relative;
	display: inline;
	float: left;
}



/*Top level menu link items style*/
.ddsmoothmenu ul li a,.ddsmoothmenu ul li label {
	display: block;
	padding: 8px 10px;
	text-decoration: none;
}

* html .ddsmoothmenu ul li a {
	/*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}



/*1st sub level menu*/
.ddsmoothmenu ul li ul {
	position: absolute;
	left: 0;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
}



/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li {
/* 	background-color: #991C32; */
/* 	color: white; */
	display: list-item;
	float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul {
	top: 0;
}

.ddsmoothmenu ul li a.selected {
	/*CSS class that's dynamically added to the currently active menu items' LI A element*/
	background-color: #F3E5B4;
	color: #991C32;
	font-weight: bold;
}

.ddsmoothmenu ul li ul li a:hover {
	background-color: #F3E5B4;
	color: #991C32;
	font-weight: bold;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a {
	font-weight: normal;
	background-color: #991C32;
	color: white;
	width: 200px;
	padding: 5px;
	margin: 0;
	border-top-width: 0;
}


#topMenu .ddsmoothmenu ul li ul li a {
	width: 250px !important;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu {
	height: 1%;
}  /*Holly Hack for IE7 and below*/

.downarrowclass {
	position: absolute;
	top: 12px;
	right: 7px;
}

.rightarrowclass {
	position: absolute;
	top: 6px;
	right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */
.ddshadow { /*shadow for NON CSS3 capable browsers*/
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background: silver;
}

.toplevelshadow {
	/*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
	opacity: 0.8;
}