body {
	min-width: 500px;
	min-height: 300px;
	margin: 0px;
	overflow: hidden;
}

/**********************************/
/** ABOUT PANE 					 **/
/**********************************/
#about {
	display: none;
}

#aboutLogo {
	float: left;
	margin: 0px 5px;
}

#aboutTitle {
	display: inline;	
	white-space: nowrap;
}

/**************************/
/** INTERLINEAR PANE      */
/**************************/
.interlinearPopup {
	display: none;
}

.interlinearVersions {
	width: 100%;
}

.interlinearChoices br {
	clear: both;
}

.interlinearChoices input {
	float: left;
}	

.interlinearChoices label {
	float: left;
	margin-right: 10px;	
}

/**************************/
/** BOOKMARK PANE         */
/**************************/
.bookmarks {
	border-top: 0px;
	min-width: 45px;
	display: inline;
	float: left;
	width: 10%;
}

.northBookmark {
	text-align: center;
}

.northBookmark img {
	width: 75px;
	height: 56px;
} 

.bookmarkPane {
	margin: 0px 5px;
	border: 1px solid #cccc99;
	text-align: center;
}

.bookmarkPane h3 {
	color: #C77405;
	cursor: pointer;
	margin-bottom: 1px;
}

.bookmarkItem {
	clear: both;
	display: block;	
}


.leftBookmarkArrow {
	float: left;
}

.rightBookmarkArrow {
	float: right;
}

/* override the padding inserted by the accordion */
#bookmarkPane  .ui-accordion-content {
	padding: 0px;
}

/**************************/
/* TOP MENU               */
/**************************/
#topMenu {
}

#topMenu a.login {
	padding-top: 7px;
	padding-right: 8px;
	float: right;
	color: white;
}

#topMenu a.login:hover {
	color: white;
	text-decoration: underline;
}

/**************************/
/* COLUMNS                */
/**************************/
.column { 
	border: 0px;
	width: 45%;  /* 2 columns */ 
	float: left;
}


/**************************/
/* PASSAGE CONTAINERS     */
/**************************/
.passageContainer {
}

.passageButtons {
	float: right;
}

.nextChapter {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.passageText {
	overflow: hidden;
}

.headingContainer {
	width: 99%;
}

.passageContent {
	overflow-x: hidden;
	overflow-y: auto;
}

.features {
	margin-left: 10px;
	float: right;	
}

.versionFeature {
	padding-left: 3px;
	padding-right: 3px;
	background-color: #4EB305;
	font-size: xx-small;
	color: white;
	font-weight: bold;	
}

.strongsFeature {
	background-color: #4F5ECA;
}

.interlinearFeature {
	background-color: #FFA22D;
}
	
.morphologyFeature {
	background-color: lightpink;
}

.questionableFeature {
	background-color: red;
}


/*********************************************/
/** BOTTOM COMPONENT                         */
/*********************************************/
#bottomSection { 
	height: 0px;
	position: absolute;
	bottom: 5px;
	left: 0px;
	width: 99%;
	border: 1px solid #000; 
	margin-left: 5px; 
	margin-right: 5px;
	display: none;
}

#bottomModuleHeader {
	height: 25px;
	background-color: #4EB305; 
}

.timelineContext {
	color: #fff; 	
	font-weight: bold;
}


.no-left-border {
/*	 border-left: none; */
	margin-left: -1px; 
}

.bookmarkPane {
	background: #EEF;
}

.logo, .northBookmark {
	border: none;
}

.column {
	border: 0 !important;
	padding-top: 0px;
	padding-bottom: 0px;
}


.ui-autocomplete {
	max-height: 500px;
	overflow-y: auto;
}

/* 	IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 500px;
}

.passageContainer {
	text-align: center;
	padding-bottom: 5px;
}

.toolbarContainer {
/*	display: none; */
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: left;
	padding: 3px;
}

.toolbarContainer label {
	margin-right: 3px;
}

.inactive {
	color: grey;
	font-style: italic;
}

#loading { 
	margin-top: 3px;
	display: none;
	z-index: 9998; /** always on top, but not on top of lexicon def? */
}

#error {
	position: absolute;
	bottom: 0px;
	padding: 2px;
	margin: 0px;
	z-index: 99999;
/* 	background-color: pink; */
	width: 100%;
}

/**************************/
/* LEXICON DEFINITION     */
/**************************/
#lexiconDefinition {
	display: none;
	z-index: 9999;
	width: 600px;
	bottom: 0px;
	right: 0px;
	left: -1000px;
}

#lexiconPopupClose {
	float: right; 
	padding-top: 4px; 
	padding-right: 4px;
	cursor: pointer;
}

#selectedPane {
	float: right;
}
/**************************/
/* LOGIN POPUP            */
/**************************/
#login {
	display: none;	
}

#login label {
	padding-top: 4px;
	width: 9em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block
}


#waiting {
	position: absolute;
}