body {
	min-width: 500px;
	min-height: 300px;
	margin: 0px;
	overflow: hidden;
}

/**********************************/
/** ABOUT PANE 					 **/
/**********************************/
#about {
	display: none;
}

#aboutLogo {
	float: left;
	margin: 0px 5px;
}

#aboutTitle {
	display: inline;
	white-space: nowrap;
}

/**************************/
/** INTERLINEAR PANE      */
/**************************/
.interlinearPopup {
	display: none;
}

.interlinearVersions {
	width: 100%;
}

.interlinearChoices br {
	clear: both;
}

.interlinearChoices input {
	float: left;
}

.interlinearChoices label {
	float: left;
	margin-right: 10px;
}

/**************************/
/** BOOKMARK PANE         */
/**************************/
.bookmarks {
	border-top: 0px;
	min-width: 45px;
	display: inline;
	float: left;
	width: 10%;
	text-align: center;
}

.northBookmark {
	text-align: center;
}

.northBookmark img {
	width: 75px;
	height: 56px;
}

.bookmarkPane {
	margin: 0px 5px;
	border: 1px solid #cccc99;
	text-align: center;
	background-color: #FCF8E8;
}

.bookmarkPane h3 {
	color: #991C32;
	cursor: pointer;
	margin-bottom: 1px;
}

.bookmarkItem {
	clear: both;
	display: block;
}

.leftBookmarkArrow {
	float: left;
}

.rightBookmarkArrow {
	float: right;
}

/* override the padding inserted by the accordion */
#bookmarkPane  .ui-accordion-content {
	padding: 0px;
}

/**************************/
/* TOP MENU               */
/**************************/
#topMenu .detailSliderContainer {
	margin-right: 10px;
}

#topMenu .detailSliderContainer .detailLevel { /* 	font-size: 1em; */
	
}

/* #topMenu .detailSliderContainer .sliderDetailLevelLabel { */
/* 	color: white !important; */
/* } */
#topMenu a.login {
	padding-top: 7px;
	padding-right: 8px;
	float: right;
	color: white;
}

#topMenu a.login:hover {
	color: white;
	text-decoration: underline;
}

/**************************/
/* COLUMNS                */
/**************************/
.column {
	border: 0px;
	width: 45%; /* 2 columns */
	float: left;
}

.singleColumn {
	width: 50%;
	float: left;
	border-right: solid 1px lightgrey;
}

#holdingPage {
	max-width: 50%;
	display: inline-block;
	margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
	padding: 0px;
	text-align: center;
    border-left: 1px dotted lightgrey;
    margin-left: 1px;
}

#holdingPage h1 {
	color: #991c32;
	font-family: Verdana;
	font-size: 1.7em;
}

 #holdingPage h1 a {
 	color: #991c32;
 }

#holdingPage em {
	color: #991c32;
	font-size: 125%;
}

#holdingPage table {
	margin-left: auto;
	margin-right: auto;
}

#holdingPage td {
	padding-left: 20px;
}

#holdingPage a {
	color: #33339f;;
	font-weight: bold;
}

/**************************/
/* PASSAGE CONTAINERS     */
/**************************/
.passageContainer {
	
}

.passageButtons {
	float: right;
}

.passageButtonsWidget {
	font-size: 70%;
	white-space: nowrap;
	margin-right: 2px;
	overflow: hidden;
}

.passageButtonsWidgetInline {
	width: 150px;
	display: inline-block;
	padding-bottom: 10px;
	float: left;
	clear: left;
}

.passageSizeButtons {
	clear: right;
	margin-top: 5px;
}

.smallerFont {
	font-size: 75%;
}

.nextChapter,.nextPage {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
	/*     filter: FlipH; */
	/*     -ms-filter: "FlipH"; */
}

.passageText {
	overflow: hidden;
}

#dragSide {
    margin-left: 3px;
    border-left: solid #808080;
}

.headingContainer {
	width: 99%;
}

.passageContent {
	overflow-x: hidden;
	overflow-y: auto;
}

.features {
	float: right;
	text-align: right;
}

.versionFeature {
	font-size: xx-small;
	color: #33339F;
	font-weight: bold;
}

.questionableFeature {
	background-color: red;
}

.versionName {
	width: 45ex;
	overflow: hidden;
	display: inline-block;
	min-width: none;
}

.versionKey {
	width: 15ex;
	display: inline-block;
	min-width: none;
}

/*********************************************/
/** BOTTOM COMPONENT                         */
/*********************************************/
#bottomSection {
	height: 0px;
	position: absolute;
	bottom: 5px;
	left: 0px;
	width: 99%;
	border: 1px solid #000;
	margin-left: 5px;
	margin-right: 5px;
	display: none;
}

#bottomModuleHeader {
	height: 25px;
	background-color: #4EB305;
}

.timelineContext {
	color: #fff;
	font-weight: bold;
}

.no-left-border { /*	 border-left: none; */
	margin-left: -1px;
}

.logo,.northBookmark {
	border: none;
}

.column {
	border: 0 !important;
	padding-top: 0px;
	padding-bottom: 0px;
}

.ui-autocomplete {
	max-height: 500px;
	overflow-y: auto;
}

/* 	IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 500px;
}

.passageContainer {
	text-align: center;
	padding-bottom: 5px;
}

.toolbarContainer { /*	display: none; */
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: left;
	padding: 3px;
}

.toolbarContainer label {
	margin-right: 3px;
}

.inactive {
	color: grey;
	font-style: italic;
}

#loading {
	margin-top: 3px;
	display: none;
	z-index: 9998; /** always on top, but not on top of lexicon def? */
}

#error {
	position: absolute;
	bottom: 0px;
	padding: 2px;
	margin: 0px;
	z-index: 99999;
	/* 	background-color: pink; */
	width: 100%;
}

#closeError {
	float: right;
	margin-right: 10px;
	margin-top: 2px;
}

#closeError .ui-icon-close { /* Override default ui-state error */
	background-image: url("images/ui-icons_991C32_256x240.png");
}

#closeError.ui-state-hover .ui-icon-close {
	/* Override default ui-state error */
	background-image: url(images/ui-icons_F3E5B4_256x240.png);
}

/**************************/
/* LEXICON DEFINITION     */
/**************************/
#lexiconDefinition {
	position: absolute;
	display: none;
	z-index: 9999;
	width: 600px;
	/* 	bottom: 0px; */
	/* 	right: 0px; */
}

#origin {
	overflow-y: auto;
	max-height: 475px;
}

#lexiconPopupClose {
	float: right;
	padding-top: 10px;
}

#selectedPane {
	float: right;
}


/**************************/
/* LOGIN POPUP            */
/**************************/
#login {
	display: none;
}

#login label {
	padding-top: 4px;
	width: 9em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block
}

#waiting {
	position: absolute;
}

/**************************/
/* Helper classes         */
/**************************/
.clearBoth {
	clear: both;
}

/**************************/
/* Version menu           */
/**************************/
.versionsListMenu {
	overflow-y: auto;
	/* 	max-height: 400px; */
	width: 100%;
}

.versionsListMenu li {
	cursor: pointer;
}

.versionsListMenu li.header {
	margin-top: 10px;
	color: #33339F;
	font-weight: bold;
	font-size: smaller;
}

.versionsAutoComplete {
	width: 400px;
}

.stepComplete {
	max-height: 60%;
	z-index: 1000 !important;
	overflow-x: hidden;
	overflow-y: auto;
}

.dynHelpOver {
	border: 4px solid orange !important;
}

.topShare {
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}

.sharingBar {
    float: left;
    margin-top: 1px;
    height: 20px;
    overflow: hidden;
}

.sharingBar iframe {
    margin-left: 4px;
}

.sharingBar img {
    border: none;
}