body {
	font-size: 70%;
	font-family: Verdana;
}



.inactive {
	color: #ccc;
}

.ui-helper-reset {
	font-size: 70%;	
}

.ui-widget {
	font-family: Verdana;
}
	
.ui-menu-item {
	font-size: small;	
}

.logo {
	text-align: center;
	font-size: xx-small;
}

.toolbarContainer label {
	font-size: x-small;
	padding: 0px 3px 0px 3px;
}

.selectingTick {
	float: right;
	margin-right: 2px;
	border: 0px;		
}