body {
	font-size: 70%;
	font-family: Verdana;
}

.notYetImplemented {
	background-color: black !important ;
}

.ui-widget {
	font-family: Verdana;
}
	
	
.ui-menu-item * {
	font-size: x-small;
	/* min-width: 100px; */
	white-space: nowrap;
}

	
.ui-menu-item {
	font-size: x-small;	
}

.ui-menu-item a {
		line-height: normal !important;
}

.ui-widget-header .ui-state-default {
	color: #669966 ;	
}

.logo {
	text-align: center;
	font-size: xx-small;
}

.toolbarContainer label {
	font-size: x-small;
	padding: 0px 3px 0px 3px;
}

.selectingTick {
	float: right;
	margin-right: 2px;
	border: 0px;		
}

/********************************/
/** Lexicon popup               */
/********************************/
#lexiconDefinitionHeader a {
	font-size: smaller;
}

.lexiconTable {
	width: 100%;
	border: 1px dotted lightgray;
	margin-bottom: 10px;
	text-align: left;
}

#sliderDetailLevelLabel {
	float: right;
	font-style: italic;
	color: darkslategrey;
	margin-right: 12px;
	margin-bottom: 4px;
}

#detailLevel {
	float: right;
	width: 50px;
}

.metadataContainer h3 {
	margin: 0px;
	color: #696;
}

.metadataContainer span {
	font-size: 8pt;
}

.metadataContainer div {
	font-size: 8pt;
}

#origin a {
	color: #696;
	font-size: 8pt;
}


.metadataContainer h5 {
	font-size: 8pt;
	display: inline;
}

.emphasisePopupText {
	font-style: italic;
}


/********************************/
/** Other labels                */
/********************************/
.notApplicable {
	color: grey;
	font-style: italic;
}

.passage-arrow {
	background-image: url('ui-lightness/images/ui-icons_669966_256x240.png');
}


.filterOptions, .filterOptions * {
	font-size: 10px !important;
	white-space: nowrap;
}
.filterButtonSet {
	margin-top: 3px;
}

