
/** Some interlinear rules */
/* Define the nature of a "word" */
span.interlinear span { /* Make each word follow the other */
	float: left;
	/* Make sure that there is spacing between words */
	/* And extra spacing between lines */
	padding: 0em 0.5em 0.5em 0em;
	white-space: nowrap;
    text-align: right;
}

.verseGrouping span.rtl {
    text-align: right;
}


span.rtl span { /* Make each word follow the other */
	float: right;
}

.singleVerse div span {
	float: none;
}

/* Make the different views of a word stack. This rule can also be surrounded with a .jesus span*/
span.interlinear span span { /* Make this stack on top of each other. */
	display: block;
	/* Turn off floating and padding that was added by the previous rule. */
	float: none;
	padding: 0;
/* 	height: 20px; */
}




.ancientVocab a {
    font-style: italic;
    color: black;
}

.qereQetifTitle {
    font-weight: bold;
}

.qereDisplay, .accentDisplay {
    direction: rtl;
    text-align: right;
}

.qereDisplay div, .accentDisplay div {
    padding: 8px 0px;
}


.hbFont h2, .unicodeFont h2 {
	font-size: large;
}

.hbFont .verseNumber {
    font-size: x-small;
} 
.unicodeFont .verseNumber {
	font-size: small;
}

.rtlDirection {
	text-align : right;
}


/* Allow for spans to be nested more deeply */
span.interlinear span span span {
	/* Turn off block display that was added by the previous rule. */
	display: inline;
}

.inlineNote {
	display: none;
}

.sideNote {
    padding-right: 5px;
}

.visibleInlineNote {
	font-size: 12px;
}



td.primary {
    border-left: 1px solid #ddd;
}

.comparingTable {
    table-layout: fixed;    
}

.comparingTable tr {
	padding-bottom: 5px;
}

.comparingTable * {
	vertical-align: top;
}


.headingVerseNumber {
	color: #33339F;
	vertical-align: top;
    width: 75px;
}

.comparingVersionName {
	color: #33339F;
	text-align: center;
}

.primary > .cmpUnderline {
	display: none;
}

.secondary > .cmpStrike {
	display: none;
}


.singleVerse {
	display: block;	
}

.singleVerse h2, .singleVerse h3, .singleVerse h4 {
    display: inline;
}

.singleVerse div.l {
	display: inline;
}

.cmpStrike {
	color: #33339F;
	font-weight: bold;
}

.cmpUnderline {
	color: #33339F; 
	font-weight: bold;
}

.inlineNoteHighlight {
    background-color: #F3E5B4;
    color: #822433;
    font-weight: bold;
}



.interlinear .verseNumber {
	clear: left;
}

.interlinearChange {
	color: darkgrey;
/* 	font-style: italic; */
}

.smallHeaders {
	font-size: 6pt !important;
	padding-right: 2px;
	font-style: italic;
}

a.smallHeaders {
	color: #33339F;
}

.notesPane {
    padding-right: 3px;
    margin-right: 8px;
	max-width: 20%;
	color: #33339F !important;
    /*overflow: hidden;	*/
}

.column .notesPane {
	margin-left: 5px;
	float: left;
	border-right: 1px solid #EAEAEA
}

.notesPane a {
	color: #333;
    font-family:tahoma;
	font-weight: bold;
	font-size: smaller;
}


br.paragraph {
	padding-top: 2px;	
}

A {
	text-decoration: none;
}

span.w {
	margin-top: 20px;
	border-left: 1px solid #ddd;
	text-align: center;
	padding-left: 3px !important;
	padding-right: 3px !important;
}

span.verseStart {
	clear: left;
}

span.verseStart > a {
    display: inline-block;
}

.rtl span.verseStart {
	clear: right;
}
	
span.strongs, span.morphs, span.interVerseNumbers {
	text-decoration: none;
	font-size: 90% !important;
	text-align: center;
	font-style: normal;
    color: #26539e;
    border: none;
}

.ancientVocab a {
	color: black !important;
}

.ancientVocab {
	font-family: Cardo;
	font-size: 140%;
}

span.strongs a {
	color: black;
}


sup.verseNumber {
	font-size: 75%;
	color: gray;
}

sup.variant.note {
	font-size: 65%;
	color: #33339F;
}

sup.note a {
	cursor: pointer;
	font-size: 100%;
    font-weight:normal;
	color: #26539e;
}

sup.note a:hover {
	text-decoration: none;
}

sup.note a:visited {
	font-size: 100%;
    font-weight:normal;
	color: #26539e;
}

FONT.lex {
	color: red;
}

span.jesus {
    color:#cc4848;
}

span.speech {
	color: blue;
}

span.strike {
	text-decoration: line-through;
}

span.small-caps {
	font-variant: small-caps;
}

span.underline {
	text-decoration: underline;
}

span.normal {
	font-variant: normal;
}

span.caps {
	text-transform: uppercase;
}

H1.level {
	text-align: center;
	font-size: 115%;
	color: #000000;
	clear: both;
}

H2.level {
	text-align: center;
	font-size: 110%;
	color: #000000;
	clear: both;
}

H3.level {
	text-align: center;
	font-size: 100%;
	clear: both;
}

H4.level {
	text-align: center;
	font-size: 90%;
	clear: both;
}

H5.level {
	text-align: center;
	font-size: 85%;
	clear: both;
}

H6.level {
	text-align: center;
	font-size: 80%;
	clear: both;
}



H3.heading  {
	font-size: 110%;
	color: #33339F;
	font-weight: bold;
}



H4.heading  {
	font-size: 100%;
	color: #33339F;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}



.editable {
	border: 1px dashed black;
}

.editable:hover {
	border: 1px solid black;
	font-style: italic;
}

.editable:focus {
	border: 1px solid black;
	font-style: normal;
}

.headingContainer {
/* 	height: 30px; */
	/*padding-bottom: 5px;*/
}

H2.xgen {
	font-family: Verdana;
	color: #822433;
}

H2.xgen ul {
    font-variant: normal;
}

H2.heading, input.heading {
	color: #111;
	font-weight: bold;
    margin: 15px 0 10px 0;
    line-height: 23px;
}

input.heading {
	font-size: 130%;
    text-align: left;
}

H2.heading {
    font-size: 100%;
}

div.margin {
	font-size: 90%;
}

TD.notes {
	width: 20%;
	background: #f4f4e8;
}

TD.text {
	width: 80%;
}


.notes a {
	color: #33339F;
	font-weight: bold;
	front-size: xx-small;
}

h3.psalmHeading .note {
    font-variant: normal;
    font-size: x-small;
}

.hebrewLanguage {
	font-family: Cardo !important;
/* 	font-size: 18px !important; */
}

.greekLanguage {
	font-family: Cardo !important;
/* 	font-size: 16px !important; */
}

.ancientLanguage {
	font-family: Cardo !important;
/* 	font-size: 16px  !important;	 */
}


a.linkRef {
	color: #26539e;
	cursor: pointer;
	font-weight: normal;
}

a:hover.linkRef {
	color: #33339F;	
}

/* the following are for dictionary entries */
FONT.orth {
	font-weight: bold;
	
}

FONT.pron {
	font-style: italic;
}

FONT.def {
	font-style: italic;
}

FONT.usg {
	font-style: plain;
}

#previewReference {
	color: white;
	font-weight: solid;
	z-index: 9999999;
	max-width: 350px;
	max-height: 350px;
	background-color: #F6A828 ;
	border: 2px solid #E78F08;
	overflow: hidden;
	margin: 5px;
}

.leftPassagePreview, .rightPassagePreview, .closePassagePreview {
	font-size: 60%;
	float: right;
}



#previewReference H2.xgen {
	display: none;	
}


#previewReference a {
	float: right;
}


#previewBar {
	border: 2px	 solid #E78F08;
	background-color: #E78F08;
	border-bottom: none;
	margin: 0px;
	height: 28px;
}

#previewReference p {
	margin: 0px;
}


#previewReference .previewReferenceKey {
	font-style: italic;
}

.emphasisePassagePhrase {
    background-color: #F3E5B4;
}

.relatedWordEmphasis {
    text-decoration: underline;
}

.relatedWordEmphasisHover {
    text-decoration: underline;
}


/**********************************************/
/** Grammar colour coding                     */
/**********************************************/
.plur { font-weight: bold; }
.sing { }
.mas { color: #000099; }
.fem { color: #C90000; }
.neut { color: black; }   

.draggable-tooltip {
    z-index: 10001 !important;
	border-color: darkgrey;
    border-top: solid 2 darkgrey;
}

.draggable-tooltip .ui-tooltip-titlebar {
    cursor: move;
    color: #33339F;
    padding: 5px 0px;
}

.draggable-tooltip .qtip-titlebar {
	padding: 4px 26px 4px 10px;

	background-color: black;
	color: white;
	font-weight: bold;
    cursor: pointer;
}

.ui-tooltip-content {
 	max-height: 400px;
	overflow: auto;
}

.qtip-content {
    padding:15px;
}

.draggable-tooltip * .xgen {
	display: none;
}


.commentaryItalic {
	font-style: italic;			
}

.commentaryVerse {
	display: block;
	padding-bottom: 5px;	
}

/**********************************************/
/** Grammar colour coding                     */
/**********************************************/
.passageToolbarContainer {
	margin-top: 5px;
}

.passageToolbarFloatingContainer  {
	text-align: right;
		display: block;
	
}

.passageContainer .passageLookupButtons, .passageContainer .passageSizeButtons {
	font-size: 0.8em;
}

.passageContainer .ui-buttonset .ui-button {
	margin-right: -0.5em
}

.filterTagLine {
	font-size: 10px;
	font-style: italic;
	text-align: right;
    color: #33339F;
}

.infoAboutVersion, .versionInfo {
	font-size: 120%;
	color: #33339F;
}

.resetVersions {
	font-weight: bold;
	color: #33339F;
}

.quickLexiconDefinition {
	width: 300px;
	overflow: auto;
/* 	position: absolute; */
/* 	bottom: 0px; */
	z-index: 10000;
}

.quickLexiconDefinition h1 {
	font-size: 1em;
	font-weight: bold;
}

.versionBreakMenuItem {
	border-bottom: 1px dashed #33339F;
}

.introduction {
    display: none !important;
    color: darkgrey;
    font-style: italic;
    display: block;
}

.colophon {
	color: darkgrey;
	font-style: italic;	
	display: block;
	text-align: right;
	margin-top: 10px;
}

.figureImage {
	width: 100%;
}


.alternativePartialMatch {
	text-decoration: overline;
}

.alternativeContext {
	text-decoration: underline;
}

.alternativeVersion  {
	background-color: #EEF;
}

.alternativeVersion:hover {
	text-decoration: overline;
}

.alternative {
	color: #33339F;
	font-weight: bold;
}

.singleAlternative {
	white-space: nowrap;
}

.noQtipWidth {
	max-width: none !important;
}

.altered {
	color: red;	
	font-family: Comic Sans MS;
}

/****************************/
/* verse numbers            */
/****************************/
.verseNumberStrong { 
	border-spacing: 0px;
	border-collapse: collapse;
}

.verseNumberStrongs th {
    color: #822433;
}

.verseNumberStrongs a, .verseNumberStrongs a:visited {
	color: #33339F;
}

.verseNumberStrongs td {
	padding-left: 25px;
	padding-left: 0px;	
}

.verseNumberStrongs td.even {
	padding-right: 25px;
}


.strongCount {
	width: 5ex;
	text-align: center;
}

a.related, a.related:visited {
	font-weight: bold;
	color: #33339F;	
	
}

.passageContentHolder {
    line-height: 1.5;
}

/**
Analysis tabs
*/
.passageContent .ui-tabs {
    margin-top: 10px;
}

.passageContent .ui-tabs, .passageContent .ui-tabs-nav {
    background-color: transparent;
    background-image: none;
    border: none;
}

.passageContent .ui-tabs-panel {
    border: thin solid lightgrey;
}

.searchPassageButtons {
	font-size: 75% !important;
}

.noWrapCell {
	white-space: nowrap;
}

.analysisButton {
    float: right;
    font-style: normal;
    font-size: 10px !important;
    font-variant: normal;
}

