.passageText {
	margin-top: 1px;
/*	overflow: auto;*/
	padding: 0px 5px;
/*	position: relative;*/
	text-align: left;
}

/** Some interlinear rules */
/* Define the nature of a "word" */
span.interlinear span { /* Make each word follow the other */
	float: left;
	/* Make sure that there is spacing between words */
	/* And extra spacing between lines */
	padding: 0em 0.5em 0.5em 0em;
	white-space: nowrap;
}

/* Make the different views of a word stack. */
span.interlinear span span { /* Make this stack on top of each other. */
	display: block;
	/* Turn off floating and padding that was added by the previous rule. */
	float: none;
	padding: 0;
}

/* Allow for spans to be nested more deeply */
span.interlinear span span span {
	/* Turn off block display that was added by the previous rule. */
	display: inline;
}

.verseNumber {
	vertical-align: top;
	font-size: 6pt;
	padding-right: 2px;
}

.interlinear .verseNumber {
	clear: left;
}

.smallHeaders {
	font-size: 6pt;
	padding-right: 2px;
	font-style: italic;
}

.notesPane {
	padding: 2px !important;
	display: block;
	background-color: #F4F4E8;
	padding: 1px;
	max-width: 100px;
	height: 100%;
	color: green !important  ;
}

.leftColumn .notesPane {
	margin-left: 5px;
	float: right;
}

.rightColumn .notesPane {
	margin-right: 5px;
	float: left;
}


.notesPane a {
	color: #669;
	font-weight: bold;
	font-size: x-small;
}


br.paragraph {
	padding-top: 2px;	
}

A {
	text-decoration: none;
}

span.w {
	margin-top: 20px;
	margin-top: 20px;
	border-left: dotted darkgrey 1px;
	text-align: center;
	padding-left: 2px !important;
}

span.verseStart {
	clear: left;
}
	
span.strongs, span.morphs {
	text-decoration: none;
	font-size: xx-small;
	text-align: center;
}

span.strongs a {
	color: orange;
}


SUP.verseNumber {
	font-size: 75%;
	color: gray;
}

SUP.note a {
	font-size: 100%;
	font-weight: bold;
	color: #696;
}

SUP.note a:visited {
	font-size: 100%;
	font-weight: bold;
	color: #696;
}

FONT.lex {
	color: red;
}

span.jesus {
	color: red;
}

span.speech {
	color: blue;
}

span.strike {
	text-decoration: line-through;
}

span.small-caps {
	font-variant: small-caps;
}

span.underline {
	text-decoration: underline;
}

span.normal {
	font-variant: normal;
}

span.caps {
	text-transform: uppercase;
}

H1.level {
	text-align: center;
	font-size: 115%;
	color: #000000;
	clear: both;
}

H2.level {
	text-align: center;
	font-size: 110%;
	color: #000000;
	clear: both;
}

H3.level {
	text-align: center;
	font-size: 100%;
	clear: both;
}

H4.level {
	text-align: center;
	font-size: 90%;
	clear: both;
}

H5.level {
	text-align: center;
	font-size: 85%;
	clear: both;
}

H6.level {
	text-align: center;
	font-size: 80%;
	clear: both;
}



H3.heading  {
	font-size: 110%;
	color: #666699;
	font-weight: bold;
}

.editable {
	border: 1px dashed black;
}

.editable:hover {
	border: 1px solid black;
	font-style: italic;
}

.editable:focus {
	border: 1px solid black;
	font-style: normal;
}

.headingContainer {
	height: 30px;
	padding-bottom: 5px;
}

H2.xgen {
	font-family: times;
	color: #669966;
	font-variant:small-caps;
	font-style: italic;
}


H2.heading, input.heading {
	color: #669966;
	font-weight: bold;
}

input.heading {
	font-size: 130%;
}

H2.heading {
	font-size: 110%;
}

div.margin {
	font-size: 90%;
}

TD.notes {
	width: 20%;
	background: #f4f4e8;
}

TD.text {
	width: 80%;
}


.notes a {
	color: #666699;
	font-weight: bold;
	front-size: xx-small;
}



a.linkRef {
	color: #696;
	font-weight: normal;
	front-size: smaller;
}

a:hover.linkRef {
	color: #696;	
	font-weight: normal;
	front-size: smaller;
}


/* the following are for dictionary entries */
FONT.orth {
	font-weight: bold;
	
}

FONT.pron {
	font-style: italic;
}

FONT.def {
	font-style: italic;
}

FONT.usg {
	font-style: plain;
}

#previewReference {
	color: white;
	font-weight: solid;
	z-index: 9999999;
	max-width: 350px;
	max-height: 350px;
	background-color: #F6A828 ;
	border: 2px solid #E78F08;
	overflow: hidden;
	margin: 5px;
}

#previewReference H2.xgen {
	display: none;	
}


#previewReference a {
	float: right;
}


#previewBar {
	border: 2px	 solid #E78F08;
	background-color: #E78F08;
	border-bottom: none;
	margin: 0px;
	height: 28px;
}

#previewReference p {
	margin: 0px;
}


#previewReference .previewReferenceKey {
	font-style: italic;
}

.emphasisePassagePhrase {
	text-decoration: underline;
	/* border: 2px dotted #E78F08; */
}

/**********************************************/
/** Grammar colour coding                     */
/**********************************************/
.plur { font-weight: bold; }
.sing { }
.mas { color: #000099; }
.fem { color: #C90000; }
.neut { color: black; }   
