/*******************************************/
/* TOOLBAR search box                      */
/*******************************************/
.versionSearchBox {
/* 	float: right; */
}

.searchToolbar {
	float: right;
	display: inline;
}

.searchToolbarButton {
	height: 18px;
	margin-top: 5px;
	margin-right: 4px;
}

.searchResultKey {
	color: #696;
}

.searchKeyPassageArrow {
	display: inline-block;
}

.searchResultRow {
	margin-bottom: 10px;
}

.searchScope {
	width: 200px;
}