/*******************************************/
/* TOOLBAR search box                      */
/*******************************************/
.versionSearchBox {
/* 	float: right; */
}

.searchToolbar {
	float: right;
	display: inline;
}

.searchToolbarButton {
	height: 18px;
	margin-top: 5px;
	margin-right: 4px;
}

.searchResultKey {
	color: #696;
	background-color: #eef;
}

.searchKeyPassageArrow {
	display: inline-block;
}

.searchResults {
	padding-left: 0px;
}

.searchResultRow {
	margin-left: 0px;
	margin-bottom: 10px;
	list-style: none;
}

.searchResultRow div, .searchResultRow div p{
	display: inline;
}

.highlight {
	background-color: yellow;
	font-style: normal;
}

.searchScope {
	width: 200px;
}

/*******************************************/
/* Advanced search box                     */
/*******************************************/
.advancedSearch {
	font-size: smaller;
}

.advancedSearch h4 {
	color: #696;
	margin: 0px;
	padding: 0px;
	font-style: italic;
}

.advancedSearch .ui-menu {
	width: 150px;
}

.advancedSearch legend {
	color: #696;
	font-weight: bold;
}

.advancedSearch table {
	width: 50%;
}


.textSearchTable {
	width: 100% !important;
}

.advancedSearch table {
	width: 12.5%;
}
