body {
   font-size: 12px;
}

.halfColumn {
    width: 48%;
    float: left;
}

.pageContent {
    margin: 5px 10px;
}

.welcomeSection, .filterBox{
    margin-bottom: 20px;
}
h2 {
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
}

.columnLeft h2, .columnRight h2 {
    height: 40px;
}

.sortAndFilter {
    padding: 5px;
}

.repositories {
    font-size: 12px;
    color: black;
}



#content {
    clear: left;
}

#content h2 {
    margin: 0px !important;
}

select {
    font-size: 12px;
}

.optionContainer {
    background-color: #eef;
    padding: 2px;
    margin: 2px;
}

.optionContainer a, .optionContainer a:visited {
    color: #33339F;
    font-weight: normal;
}

.optionContainer a.selected {
    font-weight: bold;
}

.miniBox {
    height: 50px;
}

.miniBox div {
    height: 100%;
}

#toBeInstalledColumn .container, #installedColumn .container {
    background-color: #eef;
    padding: 2px;
    margin: 2px;
    height: 100%;
}

.version {
    margin: 2px;
    padding: 2px;
}

.installNow, .removeNow {
    color: blue;
    right: 5px;
    bottom: 5px;
    position: absolute;
}

.installNow a, .installNow a:hover, .installNow .a:visited {
    color: blue;
}

.name {
    font-weight: bold;
}

label {
    font-weight: normal;
    font-style: italic;
}

.spacer {
    margin-right: 20px;
}

#installedColumn .installNow {
    display: none;
}

#toBeInstalledColumn .removeNow {
    display: none;
}

.initials {
    font-style: italic;
}

.languageName, .category {
    margin-left: 4px;
}

.version button label {
    margin-bottom: 0px;
}

.version {
    padding: 3px;
    position: relative;
}

.versionColumn {
    width: 49%;
    display: inline-block;
}

.versionColumn * {
    display: inline-block;
}

.filterBox {
    border: solid thin darkgrey;
    padding: 10px 20px 10px 20px;
    display: inline-block;
}

.filterBox h3 {
    margin-left: -10px;
}

.waitingLabel {
    display: none;
    text-align: center;
}

.progressBar {
    background-color: #f2dede !important;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    top: 0px;
    opacity: 0.5;
}

.infoMessage {
    padding: 5px;
}

.close {
    margin-top: -3px;
}

.waiting {
    text-align: center;
}

#progressBar {
    width: 0%;
    background-color: green;
    height: 100%;
    margin: 0px;
    position: absolute;
    top: 0px;
    z-index: 0;
    left: 0px;
}

#progressLabel {
    padding: 5px;
    z-index: 100;
    top: 0px;
    position: absolute;
}

#totalProgress {
    height: 2em;
    text-align: center;
    background-color: #822433;
    color: white !important;
    font-weight: bold;
    position: relative;
}

#progressLog {
    padding: 5px;
    border: 1px solid lightgrey
}

#installError {
    background-color: red;
    color: white;
    font-weight: bold;
}