.halfColumn {
    width: 48%;
    float: left;
}

.optionContainer {
    background-color: #eef;
    padding: 2px;
    margin: 2px;
}

.optionContainer a, .optionContainer a:visited {
    color: #33339F;
    font-weight: normal;
}

.optionContainer a.selected {
    font-weight: bold;
}

.miniBox {
    height: 50px;
}

.miniBox div {
    height: 100%;
}

#leftColumn .container, #rightColumn .container {
    background-color: #eef;
    padding: 2px;
    margin: 2px;
    height: 100%;
}

.version {
    margin: 2px;
    padding: 2px;
    cursor: pointer;
}

.installNow, .removeNow {
    color: blue;
    right: 5px;
    bottom: 5px;
    position: absolute;
}

.installNow a, .installNow a:hover, .installNow .a:visited {
    color: blue;
}

.name {
    font-weight: bold;
}

#rightColumn .version {
    background-color: lightgreen;
}

#leftColumn .version {
    background-color:lightpink;
}

#rightColumn .installNow {
    display: none;
}

#leftColumn .removeNow {
    display: none;
}

.initials {
    font-style: italic;
}

.languageName, .category {
    margin-left: 4px;
}

.versionColumn {
    width: 49%;
    display: inline-block;
}

.versionColumn * {
    display: inline-block;
}

.features {
    width: 49%;
    display: inline-block;
}

.waitingLabel {
    display: none;
    text-align: center;
}

.progress {
    background-color: lightpink !important;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    top: 0px;
    opacity: 0.5;
}

.waiting {
    text-align: center;
}

#progressBar {
    width: 0%;
    background-color: green;
    height: 100%;
    margin: 0px;
    position: absolute;
    top: 0px;
    z-index: 0;
    left: 0px;
}

#progressLabel {
    padding: 5px;
    z-index: 100;
    top: 0px;
    position: absolute;
}

#totalProgress {
    height: 2em;
    text-align: center;
    background-color: #991c32;
    color: white !important;
    font-weight: bold;
    position: relative;
}

#progressLog {
    padding: 5px;
    border: 1px solid lightgrey
}

#installError { 
    background-color: red;
    color: white;
    font-weight: bold;
}