[$upperInitials]
DataPath=./modules/texts/ztext/$lowerInitials/
ModDrv=zText
BlockType=BOOK
CompressType=ZIP
Lang=$language
Encoding=UTF-8
SourceType=OSIS
MinimumVersion=1.7.0
SwordVersionDate=2013-10-28
#if ($xref)
GlobalOptionFilter=OSISScripref
#end
#if ($footnotes)
GlobalOptionFilter=OSISFootnotes
#end
#if ($headings)
GlobalOptionFilter=OSISHeadings
#end
#if ($morphology)
GlobalOptionFilter=OSISMorph
#end
#if ($redletters)
GlobalOptionFilter=OSISRedLetterWords
#end
#if ($strongs)
GlobalOptionFilter=OSISStrongs
Feature=StrongsNumbers
#end
Version=1.0
Versification=$versification
Description=$description
About=$about
Copyright=$copyright
DistributionLicense=$license
DistributionNotes=$licenseText
TextSource=ftp.ebible.org
InstallSize=$installSize
