/* make panel class, too */
.tg-datepicker.panel {
	position:absolute;
	left:0px;
	top:0px;
	width:325px;
	height:240px;
	border:4px solid #FFF;
	background-color:#BBB;
	color:#444;
	z-index:9999999;
	padding:8px;
}



.tg-datepicker .yearfield {
	text-align:center;
	vertical-align:top;
	position:relative;
	height:28px;
	width:150px;
	margin:8px auto 16px auto;
}

.tg-datepicker #yearfield-input {
	width:100px;
	text-align:center;
	font-size:18px;
	height:28px;
	margin:0;
	position:absolute;
	top:0;
	left:30px;
	background-color:#DCFC3A;
	border:none;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.tg-datepicker .plusminus {
	position:absolute;
	top:0;
	cursor:pointer;
	width:28px;
	height:28px;
}

.tg-datepicker .plusminus.minus {
	left:0;
	background-image:url("img/datepicker_minus.png");
}

.tg-datepicker .plusminus.plus {
	left:133px;
	background-image:url("img/datepicker_plus.png");
}


.tg-datepicker .close {
	width:16px;
	height:16px;
	float:right;
	cursor:pointer;
}

.tg-datepicker-month-col {
	float:left;
	width:50px;
}

.tg-datepicker-month-col ul {
	list-style:none;
	margin:0; padding:0;
	margin-top:14px;
	margin-left:2px;
	
}

.tg-datepicker-month-col li {

	color:white;
	text-align:center;
	padding-top:4px;
	font-size:18px;
	text-transform:uppercase;
	margin-bottom:2px;
	height:20px;
		-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin:0;
	cursor:pointer;
}

.tg-datepicker-month-block {
	float:left;
	width:210px;
	margin-left:8px;
}

.tg-datepicker-month-block table {
	border-collapse:collapse;
}

.tg-datepicker-month-block table th {
	color:#444;
	border-bottom:1px solid #444;
}

.tg-datepicker-month-block td {
	width:30px;
	font-size:18px;
	overflow:hidden;
	text-align:center;
	padding:4px 6px;
	cursor:pointer;
	font-weight:normal;
	color:#222;
}

.tg-datepicker .ok-cancel {
	text-align:center;
	margin-top:4px;
	padding-top:4px;
	clear:both;
	cursor:pointer;
}

.tg-datepicker .ok-cancel .ok, .tg-datepicker .ok-cancel .cancel {
	font-size:18px;
	font-weight:bold;
	color:white;
	padding:4px;
}

.tg-datepicker .ok-cancel .ok {
	background-color:green;
}

.tg-datepicker .ok-cancel .cancel {
	background-color:red;
}


.tg-datepicker td.tg-datepicker-day-on {
	background-color:#DCFC3A;
}

.tg-datepicker li.tg-datepicker-month-on {
	background-color:#DCFC3A;
	color:#333;
}

.tg-datepicker .panel-footer {
	position: absolute;
	bottom: 0;
	width:150px;
	right:0;
	text-align:right;
} 
